[2013-08-13 11:57] bgruening opened #4 "Add --ignoreForNormalization to bamCoverage"
As discussed with @friedue it would be nice to have that option available in bamCoverage.

[2013-08-14 23:34] fidelram opened #5 "Option --ignoreDuplicates has no effect in bamCorrelate"
The option --ignoreDuplicates appears in bamCorrelate but it has no effect. This is because such option is not passed to the countReadsPerBin.getCoverageOfRegion function.

[2013-08-16 22:28] bgruening opened #6 "setup.py is broken"
With the current setup.py script it is not possible to use:
- python setup.py --home /foo/bar or
- python setup.py --install-lib

[2013-08-16 22:34] bgruening opened #7 "documentation fixes"
I saw in the supplement of the paper several small mistakes/inconsistencies with the commandline interface of heatmapper. I tried to fixed most of them. If anyone can have a brief look ... that would be nice. We can update the paper, during the proof read I hope.

[2013-09-10 15:19] #7 closed, assigned to friedue

[2013-09-17 14:21] #6 closed, assigned to fidelram

[2013-09-19 13:40] fidelram opened #9 "bamCorrelate should had an option to remove outliers"
The pearson correlation run by bamCorrelate is heavily affected by outliers that commonly occur on satellite regions that accumulate large numbers of reads.

[2013-09-26 11:54] fidelram opened #10 "The effective genome size numbers for bamCoverage and bamCorrelate are for uniquely map reads"
The effective genome size  (mappable portion of a genome) numbers for bamCoverage and bamCorrelate are for uniquely map reads. However, nowadays is common to have larger effective genome sizes when using random mapping of multi-reads. Furthermore, depending on the read length used the mappable portion of the genome changes.

Maybe we should add all options to the tools or point to Table 2 of this

[2013-09-26 19:33] bgruening opened #11 "Simplify the installation"
The installation is not as easy as it could be. Especially more verbose warnings/errors would be useful, to assist the user.

from distutils import spawn
spawn.find_executable('samtools')

That can be used to determine binaries at runtime and fail with a meaningful and helpful message.

[2013-09-27 10:32] #10 closed, assigned to fidelram

[2013-10-25 19:40] #5 closed, assigned to fidelram

[2013-10-25 19:40] #9 closed, assigned to fidelram

[2014-01-09 17:16] friedue opened #15 "add names of regions from BED file to bamCorrelate --outRawCounts"
at the moment, --outRawCounts returns a matrix without row names. if a BED file is given for bamCorrelate, it makes sense to output the name of the regions in the BED file as the rowname. this matrix could then be directly plugged into DESeq and other downstream applications that require an unnormalized read count matrix

[2014-01-12 20:28] pkhoueiry opened #16 "bamCompare: using --verbose with --scaleFactors throws an error"
Hi,
I came across the following bug in bamCompare. Specifying the "--scaleFactors" in the command line in the --verbose mode throws the error below:
Hope this will help,
P.

Traceback (most recent call last):
  File "/g/furlong1/khoueiry/bin/deepTools/bin/bamCompare", line 315, in <module>
    main(args)
  File "/g/furlong1/khoueiry/bin/deepTools/bin/bamCompare", line 279, in main
    "RPKM is {0}

[2014-01-14 09:49] pkhoueiry opened #17 "bamCorrelate issue: error: argument --numberOfProcessors/-p: lot and a 2 other issues"
Dear developers,
- I came across an issue in bamCorrelate. For a reason, I was unable to make it run.
  It is always prompting the error:

"bamCorrelate bins: error: argument --numberOfProcessors/-p: lot is not a valid number of processors"

Specifying the number of processors did not make any difference.
- Also, I noticed differences in the arguments that bamCorrelate takes between the example ru

[2014-01-14 11:15] #4 closed, assigned to friedue

[2014-01-14 12:41] #17 closed, assigned to nobody

[2014-01-14 13:50] #11 closed, assigned to nobody

[2014-01-14 13:50] #16 closed, assigned to nobody

[2014-01-14 16:33] friedue opened #18 "move the manual pages to a proper wiki"
I'm aiming at something like this:
https://github.com/snowplow/snowplow/wiki

Structure should be something along these lines:
0. Installation (this should be kept in the README.md so that it's still the first thing people see)
1. How we use deepTools
2. Documentation of the tools (QC, normalization, visualization)
3. Recipes (Galaxy and command line)
4. FAQ (Galaxy and command line)

Suggestions

[2014-01-15 18:19] friedue opened #19 "Galaxy script for renaming chromosomes"
I have not figured out a quick and painless way to remove or add "chr" for chromosome names with the tools that are present currently. Perhaps we should add a small python script.

[2014-01-16 13:43] #19 closed, assigned to nobody

[2014-01-16 13:45] friedue opened #20 "Make deepTools tolerant towards chromosome naming (chr1 vs. 1)"
This is related to the issue I first raised for the Galaxy implementation, but Fidel and I agreed that it would be meaningful to make deepTools capable of processing BAM and BED files even if their chromosome naming conventions do not match 100%. After all, IGV and other tools can do it, too.

Discrepancies should still be reported as to make the user aware of the fact the chromosomes are labelled

[2014-01-16 13:45] friedue opened #21 "Make a new tool for calculating the effective genome size"

[2014-01-16 13:47] friedue opened #22 "Add tools for specific RNA-seq analysis issues, e.g. FPKM for genes etc."
1. a tool to generate count tables of unnormalized read numbers would be nice (very similar to what bamCorrelate is already doing) --> this could be useful to generate the count tables required by DESeq etc.

2. calculate the normalized read coverages (typically FPKM) per genes

[2014-01-16 13:50] #15 closed, assigned to nobody

[2014-01-16 16:49] fidelram opened #23 "Galaxy: place the option to limit the operation to a genome region in the main display, not in the advanced options"

[2014-01-16 16:54] fidelram opened #24 "handling of bed files: the 6th column should not break the tool"
When a bed-file contains something else than a plus or minus sign in the 6th column, an error is produced. This should be changed to a warning. (a warning should also be raised when the bed-file does not contain any information about the strand)

[2014-01-16 17:04] fidelram opened #25 "empty bigWig file - should have meaningful, less threatening error message"

[2014-01-16 17:18] fidelram opened #26 "computeMatrix should not break when the first line of a peaks file is a comment or a track line"

[2014-01-16 18:40] friedue opened #27 "profiler and heatmapper: the labels on the x-axis overlap with each other when no extra region is added up- and downstream"
![galaxy59- profiler_image](https://f.cloud.github.com/assets/4973546/1933559/7ff745de-7edd-11e3-8cab-5bb4384cee2c.png)

Is it possible to simply not add any number (0 in the example) when no additional regions are selected?

[2014-01-17 13:08] friedue opened #28 "script for turning help texts into markdown for wiki"
1 wiki page should contain all the options for all the programs

everytime the help within the python scripts is updated, one should just run this script that should generate a wiki-compatible markdown page

[2014-01-20 09:01] friedue opened #29 "Galaxy should be much more file-format-restrictive when showing the selection of available files"
For example, for computeMatrix only true BED or INTERVAL files should be shown in the drop down menu for the regions while only **true** BIGWIG files should be shown in the drop down menu for the scores.

At the moment, almost all files in a history tend to be shown, very often with the comment ("as BED" or "as BIGWIG") which, in most cases, will not work and will lead to confusion.

Is this somet

[2014-01-20 10:48] #27 closed, assigned to bgruening

[2014-01-20 12:24] #18 closed, assigned to friedue

[2014-01-20 15:15] #29 closed, assigned to bgruening

[2014-01-21 21:52] friedue opened #30 "make terms in wiki/help content with command line version AND galaxy consistent"
perhaps a glossary would be meaningful? Fabian reports that he's struggling with the terms and them not being consistently used...(which is most likely very true)

any opinion on whether one should use the term NGS or HTS? I tried to use HTS because Thomas preferrred it, but I have the feeling that NGS is much more commonly used

last, but not least: ANY idea on how to unify the terms in the wiki,

[2014-01-23 11:22] #24 closed, assigned to fidelram

[2014-01-28 17:30] #26 closed, assigned to fidelram

[2014-01-28 17:37] #20 closed, assigned to nobody

[2014-01-29 10:48] friedue opened #32 "labels for heatmaps"
at the moment, labels are only put into the profiles

[2014-01-29 13:28] fidelram opened #33 "computeGCbias has --fragmentLength as optional but is required"

[2014-01-30 11:28] #33 closed, assigned to fidelram

[2014-01-30 11:37] #25 closed, assigned to fidelram

[2014-01-30 15:05] #23 closed, assigned to bgruening

[2014-01-30 16:57] friedue opened #34 "commandLine: BED-output of clustered heatmap cannot be directly re-used with computeMatrix"
The issue is caused by the lack of # lines in the output of heatmapper nowadays. To make heatmapper etc. work with Galaxy, Bjoern added the feature that the cluster ID is indicated in the 7th column of a bed-file, so that users can easily separate the file into separate data sets and supply them individually to computeMatrix. On the command line, computeMatrix expects just one BED file where the g

[2014-01-30 17:28] friedue opened #35 "to-do for figure updates in the wiki/manual section"
to be filled up :)
- computeMatrix: how Galaxy handles output with multiple clusters
- profiler: color option

[2014-01-31 13:13] friedue opened #36 "Galaxy: add information about data upload into the tool description"
perhaps just add the link to the wiki page (https://github.com/fidelram/deepTools/wiki/Galaxy#wiki-dataup) within the TIP section underneath the selection box

[2014-01-31 13:31] friedue opened #37 "add an explanation of the effective genome size to the Glossary"
I think we cannot expect that everybody knows the term "effective genome size"

I propose to add the question (plus answer) "What do you mean by effective genome size?" to the FAQ section "General deepTools-related questions "

https://github.com/fidelram/deepTools/wiki/General-deepTools-FAQs

[2014-01-31 13:39] friedue opened #38 "Galaxy: labeling of effective genome size selections is inconsistent"
another thing pointed out by our proof-readers: the way users are asked to supply genome or effective genome sizes is currently not consistent between the different Galaxy tools

**bamCompare**

when "normalize to 1x sequencing depth" is selected, the following header and an empty field appear:

--> this entry should probably be named "Effective genome size" instead

**bamCompare, bamCoverage**

T

[2014-01-31 13:42] friedue opened #39 "Galaxy: add abbreviation behind the name of each tool"
and another thing pointed out by innocent users: they would like to have the abbreviation that we use in the overview table to be represented , i.e.:
- bamCorrelate (QC) correlates pairs..
- bamFingerprint (QC) plots profiles...
- computeGCbias (QC) ...
- correctGCbias (N) ...
- bamCoverage (N) ...
- bamCompare (N) ...
- computeMatrix (V) ...
- heatmapper (V) ...
- profiler (V)

[2014-01-31 13:44] friedue opened #40 "FAQ: What to do when reference genome is not known"

[2014-01-31 13:47] friedue opened #41 "FAQ: Should bamFingerprint be used on raw BAM files only or also on bias-normalized files?"
Fabian asked for recommendations here

[2014-01-31 13:49] friedue opened #42 "FAQ: Which correlation is recommended for bamCorrelate?"
i.e. when to use Spearman and Pearson

I think, we, ourselves, haven't fully understood this issue given the current plots we produced, right?

[2014-01-31 13:54] friedue opened #43 "Galaxy: update of the explanations within Galaxy?"
Currently, the wiki pages are a bit more elaborate than the explanations that users see when they select a tool within Galaxy.
My questions:
- Should we include the long descriptions? (I lean towards no)
- Should we include the links to the wiki pages (I lean towards yes)
- Where could I modify these information, i.e. if we really migrate the wiki once more to the deepTools website eventually, all

[2014-01-31 13:56] friedue opened #44 "FAQ: How does the GC correction influence the downstream analyses?"
- no duplicate removal

[2014-01-31 15:05] #36 closed, assigned to sarah-peter

[2014-01-31 15:11] #44 closed, assigned to friedue

[2014-01-31 15:19] #37 closed, assigned to nobody

[2014-01-31 16:49] fidelram opened #45 "The command line tools PE_fragment_size and bigwigCompare not part of galaxy."
I think we should add this tools to Galaxy at some point. Probably  a more meaningful name for PE_fragment_size is required.

[2014-01-31 17:15] #43 closed, assigned to bgruening

[2014-02-03 10:48] friedue opened #46 "Galaxy: how to integrate IGV browser?"
@diehlsa & @bgruening : what is needed to directly load data from Galaxy into IGV browser?

[2014-02-03 14:04] friedue opened #47 "Galaxy: correctGCbias output for bigWig and bedGraph not working"
with correctGCBias 1.5.6-45-g7190dd0 I get the following message when trying to output a **bedgraph** file:

applying correction genome partition size for multiprocessing: 362078 using region 4 sh: open: No such file or directory

it's a warning, but the file empty.

with output = **bigWig** I get a similar message:

[2014-02-03 14:07] friedue opened #48 "FAQ: Error with UCSCtool bedGraph to bigWig"
Now that we have deepTools being tolerant towards chromosome naming, I totally forgot that other tools are not that forgiving. I just put the error here so I eventually make an FAQ entry out of it:

An error occurred with this dataset: 2L is not found in chromosome sizes file

[2014-02-03 14:31] friedue opened #49 "Galaxy: sorting according to gene-body-length is missing"
at the moment, only sorting "descendingly", "ascendingly" and "no sort" are available within Galaxy while for the command line, region-length-sorting is available, too

[2014-02-03 14:34] #49 closed, assigned to nobody

[2014-02-06 13:03] friedue opened #51 "Galaxy: adjust wrapper for R script to combine several profiler runs"

[2014-02-06 14:26] #46 closed, assigned to nobody

[2014-03-01 08:11] pkhoueiry opened #52 "Multiple profiles in one plot - deeptools profiler"
Hi guys,

I was wondering if there is a way to plot several profiles in one plot using the profiler tool. It is always easier to compare the profiles if they are in one plot.

All best,

[2014-03-30 12:08] #51 closed, assigned to friedue

[2014-03-30 12:10] #30 closed, assigned to nobody

[2014-03-30 12:11] #40 closed, assigned to friedue

[2014-03-30 12:11] #42 closed, assigned to nobody

[2014-03-30 12:12] #35 closed, assigned to nobody

[2014-03-30 12:13] #32 closed, assigned to fidelram

[2014-03-30 12:13] #39 closed, assigned to bgruening

[2014-04-02 11:46] fidelram opened #54 "computeGCbias fails when chromosome names of 2bit and bam file do not match"
This behavior is OK, but should proceed  when the bam chromosome names are a subset of the 2bit chromosome names.

[2014-04-02 12:19] #52 closed, assigned to nobody

[2014-05-07 13:29] friedue opened #55 "--quiet option for computeMatrix does not keep quiet"
Hi guys,

I appreciate that computeMatrix is telling me all the problems that it encounters (I know, it's a tough job, poor little bugger), but I would appreciate it even more if it would stop littering my stderror when I set the --quiet option. In short: I don't think the -q option works completely properly :)

[2014-06-03 08:32] bgruening opened #56 "Implement alternative coverage measure (distinct reads)"
From: https://www.biostars.org/p/101413/

I'm quite interested if it is possible to integrate side tools to your framework. Actually when working with exome data I've come across the alternative coverage measure that uses distinct reads, i.e. reads that cover a given position and have different offsets. It is also referred as molecular coverage. The inspiration comes from this paper http://genomeb

[2014-06-05 18:45] #56 closed, assigned to nobody

[2014-06-12 16:17] friedue opened #57 "bamCoverage mappingQualityFilter not working as expected"
from Fidel:
The problem with the normalization (either RPKM or normalizeTo1X) is that they are based on the **total number of mapped reads** and _not_ on the total number of reads of quality > minMappingQuality.

That means that people still need to filter the bamFile before running bamCoverage (which is contrary to our intention)

bamCompare should not be heavily affected by this.

[2014-06-24 08:12] ghost opened #58 "bamCompare syntax error"
in line 124/125, comma missing before 'default=1000'

[2014-06-24 08:16] #58 closed, assigned to nobody

[2014-07-02 15:38] pavanvidem opened #59 "bamCorrelate problem with option --region"
If there is not sufficient reads in the given region, bamCorrelate reports an error:
File "bamCorrelate", line 447, in main  num_reads_per_bin[:, col])[0]
ValueError: setting an array element with a sequence.
It would be good to print a (warning) message saying that not enough data in the selected region instead of this error.

[2014-07-07 12:21] friedue opened #60 "bamCoverage: --missingDataAsZero option should be integrated"
Just as a reminder: currently, --missingDataAsZero {yes, no} only exists in bamCompare. There is no reason why it should not be available in bamCoverage (since 1.5.7., the default in bamCoverage is set to "yes")

[2014-09-05 15:05] #60 closed, assigned to nobody

[2014-09-05 15:11] #54 closed, assigned to fidelram

[2014-09-05 15:21] #55 closed, assigned to nobody

[2014-09-05 15:41] #59 closed, assigned to fidelram

[2014-09-12 13:08] fidelram opened #61 "bamCorrelate in BED-file mode does not consider extended reads"
The computation of the number of reads overlapping with a BED region does not include reads that overlap with the region after being extended. The current implementation first identifies the reads that fall into a region (BED  or bin), then the reads are extended.

[2014-09-24 10:59] friedue opened #62 "bamFingerprint ignores output file ending and always produces a png"
in the other tools, typing outputimage.pdf will reliably result in a pdf output despite the fact that there's an additional option to specify the format

bamFingerprint is the exception

[2014-09-24 11:35] #62 closed, assigned to nobody

[2014-10-06 12:58] dariober opened #63 "dots in chromosome names"
Hello,
There seems to be a bug in bamFingerprint when reading chromosomes from -r argument. If a chromosome name contains dots, these are stripped and the name is not recognized.
For example chromosome "LinJ.01" throws "NameError: Unkown chromosome: LinJ01". See below.

This is on python 2.7.2, deeptools 1.5.9.

Thanks for deeptools!
All the best
Dario

[code]

[2014-10-07 07:35] #63 closed, assigned to fidelram

[2014-10-29 09:34] friedue opened #64 "multiheatmapper: gene length is not drawn, NaN after region end does not work"
Hi,

there are two related issues with the multiheatmapper:

1. the option --sort region_length does lead to regions sorted by the length, but the end of the region is not indicated by a dashed line as it is the case for the original heatmapper

2. the computeMatrix option --nanAfterEnd does not work for more than one heatmap - well, it works rather too thoroughly as you can see:
![multiheatmapper

[2014-11-03 14:26] vivekbhr opened #65 "Deeptools compGCbias can't handle different chromosome names"
command for computeGC: /script/computeGCbias --genome mm9

Error:
Bam and 2bit do not have matching chromosome names:
2bit:['1', '3', '2', '5', '4', '7', '6', '9', '8', 'Y', 'X', '11', '10', '13', '12', '15', '14', '17', '16', '19', '18', 'MT']

bam:('chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr1

[2014-11-04 11:18] dariober opened #66 "computeMatrix: Regions file in GFF format"
Hello,
According to the help of `computeMatrix scale-regions` (version 1.5.9.1) the file passed to `--regionsFileName` can be in bed or gff format. However, I'm getting the error below with my GFF input, which looks correct to me.

[code]

The input GFF file:

[code]

(Thanks for deeptools!)
Dario

[2014-11-05 09:32] #66 closed, assigned to friedue

[2014-12-01 08:08] #45 closed, assigned to nobody

[2014-12-10 20:06] fidelram opened #67 "bamPEFragmentSize error"
Fatal error: Exit code 2 ()
usage: bamPEFragmentSize [-h] [-bai bam-file-index] [--histogram FILE]
                         [--numberOfProcessors INT] [--verbose] [--version]
                         bam-file
bamPEFragmentSize: error: unrecognized arguments: --bam --bamIndex /data2/galaxy/galaxy-dist/database/files/_metadata_files/002/metadata_2338.dat

[2014-12-22 12:52] #38 closed, assigned to bgruening

[2014-12-22 13:23] #67 closed, assigned to bgruening

[2015-01-27 00:17] benjasriga opened #70 "computeGCBias returns "ValueError: The first argument cannot be empty" on test_corrGC dataset"
Dear Developers,
I was troubleshooting the issue on my own bam files when I decided to try it on your test dataset. The same error message is returned on your test dataset.

# deepTools test directory
/home/benjamir/bin/deepTools-master/deeptools/test/test_corrGC
# computeGCBias version
computeGCBias 1.5.9.1
# python version
Python 2.7.3 -- EPD 7.3-2 (64-bit)
# command invoked
/home/benjamir/bin/d

[2015-01-28 10:17] adomingues opened #71 "bamCorrelate: gtf as --BED-file input"
Is possible to use a GTF file as an argument for the bamCorrelate?

The reason that I am asking, is that frequently gene annotations come in that format. For instance, I am comparing bams form 2 sequencing runs mapped with the same GTF. I would make sense to use that GTF for the comparison of the sequencing runs.

Of course I can easily convert the GTF in bed, but what is the fun in that? :)

[2015-01-29 09:11] fidelram commented on #70
I tried the exact same command and I don't get the error. Which version of numpy and scipy do you have installed?

The fragment length is used for not properly paired cases. If in you data, all reads are properly paired, then this value will have no effect.

[2015-01-29 15:38] benjasriga commented on #70
Thanks for your response.
I load numpy and scipy as modules on our cluster so I had never looked at them critically there before.

scipy 0.10.1
numpy 1.6.1
These appear to be from 2012 or earlier. Yikes.
Do you recommend I install my own updated versions?

Thanks,
Ben

On Jan 29, 2015, at 3:11 AM, Fidel Ramirez <notifications@github.com<mailto:notifications@github.com>>
 wrote:

I tried the exact

[2015-01-29 15:54] fidelram commented on #70
Are you using python 2.7?

In principle the requirements from deepTools are:

    "numpy >= 1.6.2",
      "scipy >= 0.10.0",
        "matplotlib >= 1.2",
        "pysam >= 0.7.7",
        "bx-python >= 0.5.0",

so you can try to update numpy.

Meanwhile, have you tried our deeptools galaxy instance (deeptools.ie-freiburg.mpg.de)

[2015-01-29 18:40] benjasriga commented on #70
I am using Python 2.7.3 |EPD 7.3-2.
The only package whose version number meets that list of requirements on my cluster is bx-python.
I put in a request to update numpy and scipy.

Thanks for the suggesting the galaxy instance. Unfortunately I have no experience using galaxy and no one in my group does either.

I guess the appropriate thing is to close this issue until such a time I can meet the l

[2015-03-31 12:50] #70 closed

[2015-03-31 13:10] fidelram commented on #64
Issue solved. Now heatmapper (multiheatmapper branch) plots nanAfter end and plots the border of the regions (usually genes) if they are sorted by gene length.

<img src="https://cloud.githubusercontent.com/assets/4964309/6919285/1de31124-d7b6-11e4-8b3f-fe62c81f82ae.png" alt="Drawing" height="500"/>

<img src="https://cloud.githubusercontent.com/assets/4964309/6919292/2c371f7c-d7b6-11e4-8d17-4445f

[2015-03-31 13:10] #64 closed

[2015-04-06 15:13] lparsons opened #73 "ComputeMatrix galaxy wrapper does not properly catch some errors"
When running the computeMatrix tool in Galaxy, if the regionSize is not set to a multiple of binSize, an error occurs, but the dataset shows up as OK (green) in the history instead of indicating an error:

    The --regionBodyLength has to be a multiple of --binSize. Currently the values are 75 10 for regionsBodyLength and binSize respectively

Also, it would be good to indicate this restriction i

[2015-04-06 15:20] bgruening commented on #73
Hi @lparsons thanks for your bug report, I will fix this as soon as possible.

[2015-04-15 08:28] mpi-pebert opened #74 "Allow a title for QC plots"
Add a `--title` option to the tools producing plots (i.e. `bamFingerprint`, `bamCorrelate` and so on), would make it easier to keep track of what data one is looking at when scanning through a larger number of QC plots.

[2015-04-15 16:37] mpi-pebert opened #75 "SVG output for bamFingerprint via file ext."
The `bamFingerprint` tool does not produce SVG output based on the file extension `.svg` only (i.e. simply calling `bamFingerprint --plotFile foofile.svg`); it appears as if the setting for the output file format is overwritten somewhere, since calling `bamFingerprint --plotFile foofile.svg --plotFileFormat svg` does generate an SVG output plot.
I am using deepTools 1.5.8.1 and matplotlib 1.3.1. N

[2015-04-27 09:29] lelouar opened #76 "add possibility to use bed12 or gtf to construct metagene heatmap and profile"
add the possibility to join all the exons for construct transcript genebody with RNA-seq data

[2015-04-27 11:02] #74 closed

[2015-04-27 11:09] fidelram commented on #75
I could not reproduce this behaviour in the master branch.

[2015-04-27 11:59] #47 closed

[2015-04-27 11:59] #28 closed

[2015-04-27 12:00] #41 closed

[2015-04-27 12:00] #57 closed

[2015-04-27 16:10] mpi-pebert commented on #75
I can confirm the bug again for version 1.5.9.1
I tested with the following call: `bamFingerprint -p 6 --plotFile foofile.svg --bamfiles Input.bwa.20131017.bam H3K4me3.bwa.20131016.bam --labels Input H3K4me3 --fragmentLength 200` and the result `foofile.svg` is a binary file starting with `<89>PNG`. When I open the file in Gimp, it also tells me that this is a `PNG image`.

[2015-04-28 12:09] fidelram commented on #75
the only difference then is the matplotlib version. I am using 1.4.3.

I compared the code from the cases that work and from bamFingerprint but I did not see any difference.

The following method to install deeptools is currently working well for me:

Download and install the anaconda package (https://store.continuum.io/cshop/anaconda/). This includes the latest versions of scipy numpy and matplot

[2015-05-04 14:44] lelouar opened #77 "add RNA-seq bam files processing"
you could add an option to BamCoverage to use CIGAR code "N" to split reads in order not to loose intron information in the bigwig coverage file

and

you could add an option to computeMatrix in order to use a gtf file or a bed12 file to remove intronic regions

[2015-05-04 15:05] fidelram commented on #77
the release 1.6 branch can already understan split reads.

The option to use a gtf file or a bed12 file is still needed.

[2015-05-04 15:07] #77 closed

[2015-05-05 08:11] fidelram opened #78 "bamCompare should have an option to save scaled versions of the bam files"
(request submitted by a user) Instead of only saving the ratio (diff, log2ratio etc.), bamCompare additionally should output two bigwig files with the respective scaling factors applied.

[2015-05-07 09:12] lelouar opened #79 "add possibility to filter the strand of RNA-seq to plot profile"
Hi,

I think a good idea is to allow us to separate forward and reverse reads.

RNA-seq protocol is sense specific. For example, RNA polymerase produces divergent transcripts (sense and anti-sense reads) on TSS. It would be nice to be able to plot sense reads of a given gene and additionally its anti-sense reads.

To allow us to see that kind of profile it would be interesting to separate reads de

[2015-05-07 09:56] fidelram commented on #79
Hi,

What you are suggesting is part of the release 1.6 branch of deepTools. For bamCoverage and bamCompare now you can filter reads based on sam flag which allows you to select forward or reverse reads.

Moreover, the 1.6 branch understands split reads that are important for RNAseq data.

Be aware that the documentation for release 1.6 is not yet ready and Galaxy wrappers are missing.

Best,

Fid

[2015-05-19 08:23] pkhoueiry opened #80 "duplicate colors in bamFingerprint"
Hi all,
When running bamFingerprint for more than 7 samples, we start getting the same colors again which render the analysis of replicates very confusing. Could it be possible to extend the color set or to allow the user to specify them ?
Thanks

[2015-05-19 10:06] #79 closed

[2015-05-19 10:12] fidelram commented on #80
There are some ways to change this behaviour:

 * Find the matplotlibrc file and edit the line called axes.color_cycle
 * Optionally the deepTools/bin/bamFingerprint code  can be changed as follows:

[code]

It is not complicated to add a new parameter to the bamFingerprint to reflect this but I don't know if that is the best approach. The more colors the more difficult  is to match them with the

[2015-05-19 10:55] pkhoueiry commented on #80
Thanks for you fast reply,
I agree, but the number of samples is not limited and thus the legend is growing anyhow.
What about alternating between full and dashed lines by keeping 7 colors or so. Like that you will have 14 distinguishable lines.
I will add colors locally for my purpose,
Thanks,

[2015-05-19 11:46] fidelram commented on #80
I like the idea of alternating line types. I will implement that.

[2015-05-29 21:28] crazyhottommy opened #81 "I have bedgraphToBigWig on my path, but bamCoverage always complains"
How can I resolve this?
######################################################

The program *bedGraphToBigWig* was not found in your PATH. In
order for deeptools to work properly this program needs
to be installed. If you already have a copy of this
program please be sure that it is found in your PATH or
that is referred in the configuration file of deepTools
located at:

/Library/Python/2.7/site-

[2015-05-30 07:50] bgruening commented on #81
Hi,

actually this should work. Can you double check the binary
'bedGraphToBigWig' is included in /usr/local/bin/kentUtils/linux.x86_64
and is executable? Moreover, relead/restart your bash after you edit
.bashrc.

Hope this helps,
Bjoern

Am 29.05.2015 um 23:28 schrieb Ming Tang:

[2015-06-02 20:26] crazyhottommy commented on #81
it looks like I did not have ucsc utilities installed correctly...

Thanks!

[2015-06-08 07:50] #81 closed

[2015-06-08 07:51] #75 closed

[2015-06-23 14:54] Unode opened #84 "Galaxy toolshed deepTools fails due to bad dependencies"
Hi everyone,

I'm not sure this is the most appropriate location for this but here goes:

The latest available version of deeptools on the [official toolshed](https://toolshed.g2.bx.psu.edu/view/bgruening/deeptools/3a2aab18a217) is almost 1 year old.

This wouldn't be a problem by itself but on newer systems, one of the dependencies (package_atlas) is failing with the following traceback:

    Fat

[2015-06-25 17:19] bgruening commented on #84
@Unode are you sure this is not related to this error: https://github.com/galaxyproject/tools-iuc/issues/190
Galaxy has only one installable revision for packages. This means if you install atlas from the TS or deeptools it should get the latest version of atlas (with the additional export).

[2015-06-25 18:41] Unode commented on #84
I'm pretty sure it's the same problem. But I thought the commit I linked before was enough to fix it.
Seems it wasn't... I'll leave this open and monitor the other one too since deeptools will have to update once atlas is fixed.

Thanks and sorry for the trouble.

[2015-06-26 07:09] bgruening commented on #84
@Unode nothing to be sorry about. The atlas problems are really hard to fix. I guess we will discuss this at GCC in more detail. But to get back to my previous statement; if a `tool_dependency` is updated the tools does not need to be updated it should always take the latest (and the only one) that is installed.

[2015-06-26 15:33] Unode commented on #84
@bgruening I wasn't sure about `tool_dependency`. Had some buggy issues in the past with updating `packages_*`. I'll try it out again when atlas is fixed upstream.
Thanks

[2015-06-30 16:18] M4CC4M opened #85 "heatmapper: Group {} contains too few regions {}. It can't be plotted."
Hello,

I can't find anywhere that mentions the minimum number of regions allowed per group.
Is there any doc. that mentions how this limit is calculated and why it is there?

Thanks for the v.great tools!

[2015-06-30 16:27] fidelram commented on #85
The minimum number of regions allowed per group depends on the total number of regions. Roughly, if a group contains 0.1 percent of the total regions it can't be plotted because it would be too thin. The restriction comes actually from the matplotlib library.

A workaround for this is to decrease the total number of regions by subsampling large groups or to use the profiler instead of the heatmapp

[2015-06-30 16:27] #85 closed

[2015-07-01 14:03] avilella opened #86 "bamCorrelate BED-file np.isinfinite error"
I am trying to run bamCorrelate for a collection of bams, but it gives me the following error below. Any ideas?
[code]

[2015-07-01 14:43] fidelram commented on #86
The error is happening when matplotlib should plot the resulting heatmap. The error may be caused by an empty matrix or by maybe by an issue with matplotlib.

My suggestions are:

 * Try to use the branch release-1.6 of deepTools. For bamCorrelate we have split the computation of the matrix and the visualisation (first run bamCorrelate, then run plotCorrelation). This version is already stable but

[2015-07-01 15:19] avilella opened #87 "bamCompare No space left on device issue"
I also tried bamCompare and got this error below. Any ideas?

[code]

[2015-07-01 15:21] avilella commented on #87
If the issue is due to data being copied to `/tmp`, is there a `--tmpdir` option to set it to a different place?

[2015-07-01 15:37] fidelram commented on #87
The way to set a temp dir is through the configuration file. Check for a file called deeptools.cfg in your installation path. This is how the file looks like https://github.com/fidelram/deepTools/blob/master/deeptools/config/deeptools.cfg

To get the context of the error message you can turn off multiprocessing (add -p 1).

[2015-07-03 09:49] pkhoueiry opened #88 "mutliple profiles together in one plot"
Hi guys,

In computeMatrix followed by profiler, is there a way to plot multiple profiles in on plot to compare them directly, with there "se" profiles.
For instance, I have three bed files that I want to plot a bigwig profile over them and plot them on the same plot (not separated as in the example).
I believe that I asked this question long time ago and you were thinking of implementing this.
Th

[2015-07-03 10:12] fidelram commented on #88
I am not sure I follow you but this is something you can do. Lets say you
have bed1, bed2 and bed3. Then merge all the files in a single adding a
separation line that should have a '#' and a label. Then the profiler will
understand that you have three groups and will use the label that you put.

A overly simple bed file will look like this

chr1 10 100
chr2 20 200
# first group
chr1 100 200
chr2 2

[2015-07-03 10:28] pkhoueiry commented on #88
Thanks for the fast reply. Indeed, it works. Many thanks.

[2015-07-03 10:28] #88 closed

[2015-07-07 07:10] fidelram commented on #87
Did the solution worked for you?

[2015-07-07 07:11] fidelram commented on #86
Any follow up on this problem?

[2015-07-07 16:49] msxakk opened #89 "pysam import traceback"
Hello,
I've tried installing deepTools via pip and by python setup.py and I'm getting a traceback each time I call bamCorrelate function.

msxakk@msngs:~$ bamCorrelate
Traceback (most recent call last):
  File "/usr/local/bin/bamCorrelate", line 14, in <module>
    import deeptools.countReadsPerBin as countR
  File "/usr/local/lib/python2.7/dist-packages/deeptools/countReadsPerBin.py", line 7, in

[2015-07-07 19:48] fidelram commented on #89
Was the pip pysam installation successful?

if you type 'pip freeze' can you see pysam? which version?

-fidel

On Tue, Jul 7, 2015 at 6:49 PM, msxakk <notifications@github.com> wrote:

--

Fidel Ramirez

[2015-07-10 11:12] msxakk commented on #89
All sorted now! Thanks anyway!

[2015-07-10 11:21] #89 closed

[2015-07-15 13:52] fidelram opened #90 "fragment length required for paired end reads"
Instead of asking the user for input, the program should try to guess the fragment length based on the pairs.

[2015-07-16 08:31] morganeTC commented on #78
Hello,
Indeed, we would like to normalize a ChIP and an input signal with the SES
method and directly obtain 2  bigwig files with scaled signals (without performing any operation).

This would be a huge plus for us !

[2015-07-21 09:44] fidelram opened #91 "system sort not always working"
LC_COLLATE=C has to be set.

[2015-07-27 09:08] fidelram commented on #91
commit a74d073621c6344a066ee7be827e59f956cf2d9c and 7670ba2d39ea3bba8a1c562cb9fe000d85850a7d address the issue

[2015-07-27 09:08] #91 closed

[2015-07-27 09:08] #87 closed

[2015-07-27 09:10] fidelram commented on #76
Commit 738a840069e8435625874b48dee3b1244b2c50e1 initially address the issue by using a custom bed file reader. This is just one step into the solution of the issue.

[2015-07-31 23:12] igordot opened #92 "deepTool bamCoverage BigWig does not match expectation"
I recently found deepTool bamCoverage tool and was excited to try it given all the options it offers. However, the output I am getting does not match the original BAM or the BigWigs that I generated by other means. See example below:
![image](https://cloud.githubusercontent.com/assets/6363505/9019339/d9776212-37b7-11e5-8207-7a0f26e29408.png)
* gray is BAM
* green is my own BigWig

The rest are usi

[2015-08-01 23:48] friedue commented on #92
Hi Igor,

some comments:
* what normalization parameter are you using?
* what's the scale on the Genome Browser snapshot?
* do you have paired-end or single read data?

[2015-08-02 19:30] fidelram commented on #92
The bigWig generated by deepTools is identical to the one seen in for
example the IGV genome browser when it is set not to extend read pairs.
Check that the option is not set and use a fragment length smaller than the
read size.

On Sun, Aug 2, 2015 at 1:48 AM, Friederike Dündar <notifications@github.com>
wrote:

--

Fidel Ramirez

[2015-08-03 17:26] igordot commented on #92
--normalizeUsingRPKM but that should only affect the scale, not the distribution

the scale is auto-scale, so it goes from 0 to max

single read

these are single-read sequences, so it shouldn't matter, right?

[2015-08-03 23:06] friedue commented on #92
Single-read sequences will also be extended to match the fragment size.

I was asking about the scale because to me the image looks as if the deepTools-generated files are not fully displayed (the peaks look cropped).

[2015-08-04 14:36] igordot commented on #92
I set fragmentLength to 0.

I am not worried about the peaks being cropped. My concern is that the deepTools tools are much wider than expected. If it's not due to binSize (set to 1) or fragmentLength (set to 0), what other parameter is adding that extra info?

[2015-08-06 09:37] fidelram commented on #92
I just tried with paired-end data and as you can see the results are
identical to the ones from IGV coverage.

The parameters I used were: --fragmentLength 1 --doNotExtendPairedEnds
--binSize 1

Can you add --doNotExtendPairedEnds even if your data is single end?

On Tue, Aug 4, 2015 at 4:36 PM, igor <notifications@github.com> wrote:

--

Fidel Ramirez

[2015-08-06 09:50] fidelram commented on #92
I just checked and the problem may be the fragmentLength, if set to 0 it is converted to 300. Using a value of 1 is safe.

[2015-08-08 22:14] igordot commented on #92
I just repeated setting fragmentLength to 1 and the BigWigs look as expected. Thank you for your help.

I have a followup question. If I create two BigWigs (no fragment length extension or smoothing), one with bin size 1 and the other with bin size 10, the larger bin size makes a slightly smaller file (~200 MB in my case). However, if I add smoothing, the size grows considerably. For bin size 1, s

[2015-08-10 10:07] fidelram commented on #92
I will take a look at that.

On Sun, Aug 9, 2015 at 12:14 AM, igor <notifications@github.com> wrote:

--

Fidel Ramirez

[2015-08-14 22:09] radaniba opened #93 "custom genome_2bits"
Hi

Can you please add input on this issue ? We have a slightly different ref genome than hg19 and I'd like to know how to adapt the genome 2 bits to be consistent

Where is the genome files saved ?

Cheers

[2015-08-14 22:20] radaniba commented on #93
never mind :)

[2015-08-14 22:20] #93 closed

[2015-08-14 22:21] fidelram commented on #93
You can create a 2bit file from a fasta file using the faToTwoBit program from UCSC. More info here: https://genome.ucsc.edu/goldenPath/help/twoBit.html

[2015-08-14 22:42] radaniba commented on #93
@fidelram Fantastic, thanks for the tip

[2015-08-17 13:29] msxakk opened #94 "Traceback when running bamCorrelate"
Hello,
I'm trying to run bamCorrelate and I get the following traceback:

Traceback (most recent call last):
  File "/usr/local/bin/bamCorrelate", line 435, in <module>
    main(ARGS)
  File "/usr/local/bin/bamCorrelate", line 350, in main
    stepSize=stepsize)
  File "/usr/local/lib/python2.7/dist-packages/deeptools/countReadsPerBin.py", line 305, in getNumReadsPerBin
    numberOfProcessors=numb

[2015-08-18 13:52] fidelram commented on #94
This is a problem with the installation of bx-python.

Try to install it: pip install bx-python

(also check their page for further installation options:
https://bitbucket.org/james_taylor/bx-python/wiki/HowToInstall)

-fidel

On Mon, Aug 17, 2015 at 3:29 PM, msxakk <notifications@github.com> wrote:

--

Fidel Ramirez

[2015-08-18 21:26] radaniba opened #95 "bamCoverage sorting issue"
Hello

I am recieving an error message and am not finding any similar issue here.

The log says

[code]

The script is like :

[code]

any idea ?

[2015-08-18 21:27] radaniba commented on #95
do we need to sort the bam file after correctGCBias step ?

[2015-08-19 20:23] fidelram commented on #95
The problem with the sorting error is addressed in commit 885aca48747c0b5da5ade35544008d2dc7c73684 Simply install the latest version of deepTools:

pip install --upgrade git+git://github.com/fidelram/deepTools

Yo don't need to sort the bam after correctGCBias.

[2015-08-19 20:23] #95 closed

[2015-08-20 17:23] radaniba commented on #95
Thanks @fidelram

[2015-08-20 21:04] radaniba opened #96 "{compute,correct}GCBias errors"
Hello

I am using the latest version of deepTools and I am running through this error while running the {compute, correct}GCBias pair :

[code]

Any idea on what can cause this ?

ps : am using scipy 0.16.0

[2015-08-20 22:27] radaniba commented on #96
Ok I downgraded to Scipy 0.12 and it worked

Any dependencies specs somewhere in the doc ?

[2015-08-21 07:21] fidelram commented on #96
Hi,

This is an error from scipy. See this answer:
http://stackoverflow.com/questions/32011231/undefined-symbol-in-scipys-lapack-library

-fidel

On Thu, Aug 20, 2015 at 11:04 PM, Radhouane Aniba <notifications@github.com>
wrote:

--

Fidel Ramirez

[2015-08-21 13:06] fidelram commented on #96
Hi,

The error was from scipy, not from deepTools. Something was wrong with your installation.

I have tested deepTools with the latest scipy version 0.15. In the setup.py says that deepTools requires scipy >= 0.10

Fidel Ramírez

[2015-08-21 14:24] radaniba commented on #96
Hi @fidelram !
Thanks yes I saw this and fixed my isue by downgrading scipy and it worked just fine. Thank you

[2015-08-21 14:24] #96 closed

[2015-08-25 13:40] msxakk commented on #94
I tried installing bx-python and I got the following error:
Command /usr/bin/python -c "import setuptools;__file__='/home/msxakk/Downloads/build/bx-python/setup.py';exec(compile(open(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --single-version-externally-managed --record /tmp/pip-XnOjIY-record/install-record.txt failed with error code 1

Hence repeating bamCorrelate command

[2015-08-25 19:08] fidelram commented on #94
I never had any problem installing bx-python. I can not help you there.

On Tue, Aug 25, 2015 at 3:40 PM, msxakk <notifications@github.com> wrote:

--

Fidel Ramirez

[2015-08-25 19:10] #94 closed

[2015-09-03 19:17] lelouar opened #97 "Use CWig instead of Bigwig"
The format uses on average one-third of the size of existing bigWig files and improves random query speed up to 100 times.
(CWig: compressed representation of Wiggle/BedGraph format)

You can also use cython to enhance performances.

[2015-09-12 14:13] fidelram commented on #97
Thanks for letting us know about the CWig format. I will see what I can do.

[2015-09-15 14:16] pkhoueiry opened #98 "one bed over different bw"
Hi Fidel,
You previously explained (issue  #88) how to plot the signal of one bigwig over different bed files.
Now, how can we plot signals of different bigwigs (say, PolII, H3K4me1, H3K27Ac ...) over one bed file (say TSS). Also in this context, how can we ask deeptools to take strandness into account assuming we have this information in the bed file ?

Many thanks,
Pierre

[2015-09-15 14:31] fidelram commented on #98
To plot multiple bigwigs simply use the release-1.6 branch. That version can do what you want. Also, by default the heatmap computation takes strand into account if it is present on the bed file.

[2015-09-15 14:31] #98 closed

[2015-09-15 15:51] #92 closed

[2015-09-15 15:56] fidelram opened #99 "Size of bigwig file increases if smoothing is added."
A user (igordot) reports the following:

If I create two BigWigs (no fragment length extension or smoothing), one with bin size 1 and the other with bin size 10, the larger bin size makes a slightly smaller file (~200 MB in my case). However, if I add smoothing, the size grows considerably. For bin size 1, setting smoothing length to 10 results in a file of almost 2 GB. I understand that some extr

[2015-09-15 15:57] fidelram opened #100 "wrong estimation of coverage bamCoverage normalizeTo1x"
From deepTools mailing list:

I use commands like this:
 bamcoverage --normalizeTo1x 4641652 --fragmentLength 300  --outFileFormat bedgraph --binSize 50 -o XXX.bg -b XXX.bam

My data is pair-end, read length 150, fragment length ~300

When I use 50 as bin size, most bins have values around 1 and the median is about 1, which I think is as expected.
But, when I use 200 as bin size, the median goes u

[2015-09-15 15:59] fidelram commented on #100
The problem could be produced by the estimation of coverage (num reads * fragment length) / effective genome size. For larger bins the coverage is higher as they will contain more reads.

A solution that will also get rid of the effective genome size parameter is to first compute the coverage and then apply an appropriate scaling factor.

[2015-09-15 15:59] #86 closed

[2015-09-15 16:09] igordot commented on #92
Since this got closed, does it mean it was fixed or it was not a problem?

[2015-09-15 16:10] fidelram commented on #92
I put a new issue. See: https://github.com/fidelram/deepTools/issues/99

On Tue, Sep 15, 2015 at 6:09 PM, igor <notifications@github.com> wrote:

--

Fidel Ramirez

[2015-09-17 08:15] fidelram commented on #99
I ran a small test and didn't see any large differences. The smoothed file was slightly larger in my case but not 10 times as large. Which species did you use? can you share the bigwig files such that I can compare them and try to spot the reason for the difference?

[2015-09-21 14:34] steffenheyne opened #101 "blacklist regions for bamCoverage/ bamCompare/ ..."
Hi,

currently there is only a limited possibillity to ignore reads by region in the bam file. One can only ignore reads on a whole chromosome via:
--ignoreForNormalization IGNOREFORNORMALIZATION

It would be helpful if one can also provide a bed-file with blacklisted regions, and all reads falling into this set should be ignored for counting coverage  etc. Also these reads should be excluded when

[2015-09-21 22:50] friedue commented on #101
Why would you want to keep the reads in the BAM file if you're going to ignore them downstream?

[2015-09-22 07:53] steffenheyne commented on #101
Many of the individual deeptools like bamCoverage/ bamCompare/ bamFingerprint have gained recently the options to filter the bam according to sam flags (include/exclude) or mapping quality.

This is all quite nice as this makes storing separate bam files for specific filters superfluous. We often use the bam file as the archive of all the reads from a seq run and filtering a bam again and again is

[2015-09-23 21:47] friedue commented on #101
so, the resulting file should also lack the reads overlapping with the blacklisted regions? (originally, I thought you only wanted to exclude the reads for the calculation of scaling factors)

[2015-09-27 16:40] apastore opened #103 "Which normalization method is more suitable for normalization in bamCoverage for Chip-seq experiments"
Hi,

I would like to know which parameter would you suggest for the normalization of multiple bigWig using bamCoverage.

Thanks!

[2015-09-30 14:13] fidelram commented on #103
Hi,

I would recommend the option of: normalizeTo1x for several bam files if you
know the effective genome size.

Furthermore, I recommend you to use our mailing list for such questions:
https://groups.google.com/forum/#!forum/deeptools

On Sun, Sep 27, 2015 at 6:40 PM, apastore <notifications@github.com> wrote:

--

Fidel Ramirez

[2015-09-30 19:27] apastore commented on #103
Thanks! I am normally using a bin of 1bp so I was doing RPKM but thanks!

I will use the mailing list!

Best,
Alessandro

[2015-09-30 19:37] fidelram commented on #103
If you use RPKM or normalizeTo1x consistently to all your samples it is no problem. I just find the interpretation of the 1x values easier to understand.

[2015-10-02 09:01] fidelram opened #104 "bed format in release 1.6 branch"
From deepTools mailing list user *Sukhdeep Singh*:

While computing the matrix, the 5th column of the computed matrix, which normally displays the score (in accordance with whatever statistics is applied during the computation, sum,mean,max) is not displaying the score with v1.6 and keeps the original values from the file. This happens when the fifth column of the region (bed) file is not a number

[2015-10-06 10:12] sukhdeepsingh opened #105 "bamCoverage crashes for deepTools v1.6"
Hi,
the bamCoverage crashes for the v1.6.
I can reproduce the error using several bam files though with v1.5.9, it works smoothly.

Cheers

Traceback (most recent call last):
  File "/share/apps/deeptools/1.6/bin/bamCoverage", line 248, in <module>
    main(args)
  File "/share/apps/deeptools/1.6/bin/bamCoverage", line 244, in main
    format=args.outFileFormat, smooth_length=args.smoothLength)

[2015-10-06 10:21] fidelram commented on #105
can you type `pip freeze` to check the version number of pysam? The version
that I have is 0.8.3 and  the `reference_end` is part of the new names in
the API (check http://pysam.readthedocs.org/en/latest/api.html)

On Tue, Oct 6, 2015 at 12:12 PM, Sukhdeep Singh <notifications@github.com>
wrote:

--

Fidel Ramirez

[2015-10-06 10:29] sukhdeepsingh commented on #105
pysam==0.8.3
How should we solve this then?

[2015-10-06 12:15] fidelram commented on #105
Let's confirm first that the pysam 0.8.3 version is the one used by
deepTools.

Do you have by chance pip at `/share/apps/deeptools/1.6/bin/` If yes, try: `
/share/apps/deeptools/1.6/bin/pip freeze | grep pysam`

Alternatively you can try to sent me the output of:

`head /share/apps/deeptools/1.6/bin/bamCoverage`

Since the release 1.6 code is working fine for us I suspect that the
problem has som

[2015-10-06 14:02] sukhdeepsingh commented on #105
Hey, I dont have the pip there.

head -n 10 /share/apps/deeptools/1.6/bin/bamCoverage
#!/share/apps/python/2.7.8/bin/python
#-*- coding: utf-8 -*-

# own tools
import argparse
from deeptools import writeBedGraph
from deeptools import parserCommon
from deeptools import bamHandler

debug = 0

So, should we compile the deeptools again with system pysam.

[2015-10-06 14:32] fidelram commented on #105
now try the following:

execute /share/apps/python/2.7.8/bin/python

then type in the python shell

On Tue, Oct 6, 2015 at 4:02 PM, Sukhdeep Singh <notifications@github.com>
wrote:

--

Fidel Ramirez

[2015-10-06 14:33] sukhdeepsingh commented on #105
You are right, its an old version

/share/apps/python/2.7.8/bin/python
Python 2.7.8 (default, Oct  9 2014, 15:55:07)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

0.7.5

[2015-10-06 14:40] sukhdeepsingh commented on #105
Thanks, I will ask the admin to fix it.

[2015-10-06 14:42] #105 closed

[2015-10-08 11:18] sukhdeepsingh opened #106 "bigWigCorrelate fails to find data points in the bigwig files [deepTools v1.6]"
Hey,
I generally use bamCorrelate for pearson correlation among the bamfiles but I have some mock subtracted bigwig files (using bigWigCompare).
These bw files I have used with computeMatrix without any problems but when I try with bigWigCorrelate, it displays **NaN found in file at a specific region**.

I have queried same bw files using bigWigSummary and I am sure the data points exist for that

[2015-10-14 22:37] igordot commented on #99
Sorry. I didn't realize there was activity. How can I share the files with you?

[2015-10-19 09:32] mpi-pebert opened #107 "profiler v1.6 issues"
Hi,
I have a couple of remarks concerning the profiler tool (checked out from the dev branch):

1) title: an added title overlaps with the plot(s), there needs to be more white space at the top
2) colors: specifying colors as hex is a bit "tricky"; if one does not put the "#" in front, the string is not recognized as hex color (ok), however, with the "#' in front, the user has to remember to doubl

[2015-10-22 10:40] lelouar opened #108 "computeMatrix on scale-regions could be unscaled nearby start/end"
Hi,

some paper show metagene profile with scaled region and unscalled region in the body of region like this figures from this paper (Kruesi, et al. “Condensin Controls Recruitment of RNA Polymerase II to Achieve Nematode X-Chromosome Dosage Compensation.” eLife 2 (January 18, 2013): e00808. doi:10.7554/eLife.00808.):
![metagene_partially_scaled_body](https://cloud.githubusercontent.com/assets/10

[2015-10-22 10:49] lelouar commented on #97
A new format for compression of wig is come out :
Wang, Zhiying, Tsachy Weissman, and Olgica Milenkovic. “smallWig: Parallel Compression of RNA-Seq WIG Files.” Bioinformatics, September 30, 2015, btv561. doi:10.1093/bioinformatics/btv561.

they argue that this format is (or seems to be) better than bigWig and Cwig.

[2015-10-22 19:19] friedue commented on #108
Hi,
I don't completely understand the issue - isn't `computeMatrix scale-regions` already doing what you're asking if you use the `-b` and `-a` options?

[2015-10-22 21:35] lelouar commented on #108
Hi,

sorry, I don't explain well the issue. Indeed, the option -a and -b is used for flanking region (outside body) and all te body is scalled. The proposal is to add unscalled region **in the body** (downstream of TSS and upstream of TES, like figure in my previous post).

Now, the way to do so is to process 3 computeMatrix step - 2 reference-point (TSS, TES) and 1 scale-regions (body) - with at

[2015-10-23 07:53] fidelram opened #109 "add individual scales and colors to each heatmap"
The idea is to get something like this from Gilsbach, R., Preissl, S., Grüning, B. a., Schnick, T., Burger, L., Benes, V., … Hein, L. (2014). Dynamic DNA methylation orchestrates cardiomyocyte development, maturation and disease. Nature Communications, 5(May), 5288. doi:10.1038/ncomms6288:

![image](https://cloud.githubusercontent.com/assets/4964309/10687242/eb835330-796b-11e5-83e0-a071b47fc282.pn

[2015-10-23 07:58] fidelram commented on #107
How many bigwig files did you use? Did you have some groups?

[2015-10-23 11:29] mpi-pebert commented on #107
I used 8 bigWig files in that case; different marks from the same sample, so in my understanding, all belong to the same group. However, as I hinted at under point 4 above, the "what" and "how" of defining groups is not entirely clear to me ;-)

[2015-10-29 21:56] friedue opened #110 "add region labels to the heatmap"
Currently, the information about which region is plotted is only shown in the profiler plots. I.e., if one chooses to only show the heatmap plus colorbar, this information is lost/not visible.
Perhaps adding an extra bar/line on top of the heatmap (not making it part of the heatmap itself) might help solve this issue?

[2015-11-06 09:11] vivekbhr opened #111 "-ignore not working for bamCoverage (branch 1.6)"
Hi
In the **Multiheatmapper branch** the --ignoreForNormalization (aka -ignore) option is not working. I compared results from different versions and found this issue in the branch 1.6 only. Moreover, you can also see it in the output log.

[code]
[code]

[2015-11-09 11:25] fidelram commented on #111
I introduced some changes in the latest commits to address this issue. However, in the output that you added, there is nothing related to the option ignoreForNormalization. What you see is chrToSkip which just removes any output from the given chromosomes.

[2015-11-10 16:48] fidelram commented on #111
The latest commit fddcf4a56811b4e972a2f3c175294cc98cfc4838 addresses the problem. It was caused not but --ignoreForNormalization but because of commit 7e8975e5d1f0d77bdf1b0a9794db95841afca6cd in which the --fragmentLength as not longer required.

[2015-11-10 16:48] #111 closed

[2015-11-10 20:41] dav7mx commented on #106
I'm having the same problem with one of my servers. bigwigCorrelate (v 1.5.11) won't find any data in the bigwig files and will ultimately give me a core dump error. I'm running Ubuntu 14.04.3 LTS and Python 2.7.6. The deeptool related packages I have:
- numpy 1.6.2
- scipy 0.10.0
- matplotlib 1.2
- pysam 0.7.7
- bx-python 0.5.0

[2015-11-10 21:21] fidelram commented on #106
Do you know if your bigwig files have the same chromosome names? In other words if on one bigwig it is chrX and in the other simply 'X' ?

[2015-11-10 22:30] sukhdeepsingh commented on #106
For me, its not the case. The files have the same chromosome nomenclature.

[2015-11-10 23:40] dav7mx commented on #106
In my case that doesn't seem the problem either. All files have the same chr names.

[2015-11-13 10:38] avilella opened #112 "1-99% transparency on heatmapper"
Dears,

Is it possible to use a transparency flag on heatmapper so that the png produced has a transparency range from 0 to 99%? Thx.

[2015-11-13 10:43] fidelram commented on #112
the heatmap is plotted using the imshow() method from matplotlib. Maybe is possible to pass a colormap with transparency.

[2015-11-20 19:18] apastore opened #116 "overlay two or more bw in heatmaper plot profile"
Hi I am wondering if it is possible to plot more than one bw in the same plot.

e.g I have two chip-seq for the same PTM maker and I want to plot the sign on all TSS for the two Chip-seq in the same plot (profile) and in two heatmap.

Thanks for you suggestion

[2015-11-23 08:23] fidelram commented on #116
Please use release-1.6 branch. That branch allows plotting more than one bigWig.

[2015-11-23 08:23] #116 closed

[2015-12-02 13:53] dpryan79 commented on #99
@igordot: Dropbox or google drive would work.

[2015-12-03 10:32] abretaud commented on #86
Hi,
I have the same error here, with:
Python 2.7.5
deeptools 1.5.11
matplotlib 1.5.0

I used the --outFileCorMatrix option, the matrix looks like this:

	    'Female_1'	'Female_2'
    'Female_1'	1.0000	0.8950
    'Female_2'	0.8950	1.0000

The --outRawCounts option gives something like this:

    'Female_1'	'Female_2'
    302	236
    156	193
    130	189
    141	175
    162	190
    180	191
    [...]

[2015-12-03 12:10] fidelram commented on #86
there has been quite some updates on the way correlations are plotted in
the release-1.6 branch, so I will suggest that you try it. In the
release-1.6 branch you have to call two programms: first bamCorrelate (or
bigwigCorrelate) and then plotCorrelation (or plotPCA).

On Thu, Dec 3, 2015 at 11:32 AM, Anthony Bretaudeau <
notifications@github.com> wrote:

--

Fidel Ramirez

[2015-12-03 15:44] abretaud commented on #86
We just tested: it works with 1.6
Thanks a lot!
Anthony

[2015-12-04 08:23] avilella opened #120 "error computeMatrix with bw file from hs38DH"
I get the following error when running computeMatrix below with a `.bw` file of reads aligned to the hs38DH reference. Any ideas?

[code]

[2015-12-04 08:30] dpryan79 commented on #120
Is this in version 1.5.11?

[2015-12-04 08:40] dpryan79 commented on #120
For what it's worth, this is likely an error arising in bx-python where it's reading the bigWig file. It's impossible to tell if this is a bx-python error or a problem with the bigWig file itself. You might try the release-1.6 branch, which no longer uses bx-python. If you get an error with that too (N.B., the error would be completely different) then the problem is the file itself.

[2015-12-04 08:54] dpryan79 commented on #106
Does this still occur with the current release-1.6 version? We've switch to pyBigWig to deal with bigWig files and this should be both faster and easier to debug. If it does, could you share the files with either me or Fidel? We're making a push to get the next release out and would obviously like to close out as many out standing bugs as possible :)

[2015-12-04 09:18] avilella commented on #120
Indeed it's computeMatrix 1.5.11, I will try to install 1.6.

[2015-12-04 17:57] dav7mx commented on #106
In my individual case I'm already in touch with Fidel and the issue is solved.

Thanks!

[2015-12-04 22:23] dpryan79 commented on #112
FYI, imshow() takes a Colormap, which is an RGB(A). So, this should be doable.

[2015-12-07 11:54] sukhdeepsingh commented on #106
Hi Devon, was there an update to the v1.6? Nothing changed on our side, so the problem still remains. I checked again and can reproduce the error.

Could I have your email so I can share the file link for testing.

Thanks

[2015-12-07 12:12] dpryan79 commented on #106
There have been a number of changes to 1.6 in the interim. So if you install the newest version and still have the problems than try to get me a problematic file and I'll add it to our tests for debugging (we're doing a lot of that at the moment).

[2015-12-07 12:14] sukhdeepsingh commented on #106
Ok, so should I pull down the master or some other branch?

[2015-12-07 12:15] dpryan79 commented on #106
Try the release-1.6 branch, we haven't merged that back into master quite yet.

[2015-12-08 10:40] dpryan79 opened #124 "Don't label lines for some plot types"
Some plot types (e.g., overlapped_lines) don't support line labels. Trying to set them causes a needless warning to be printed to the screen. This could just be prevented with a small `if ...` at a few places.

[2015-12-08 10:49] dpryan79 commented on #110
I think this is fixed in the `devon_changes` branch, which will hopefully get merged today.

[2015-12-08 20:58] fidelram commented on #110
It is now merged. Friederike, do you still have the problem?

On Tue, Dec 8, 2015 at 11:49 AM, Devon Ryan <notifications@github.com>
wrote:

--

Fidel Ramirez

[2015-12-10 09:00] #110 closed

[2015-12-11 14:30] asrichter opened #137 "Allow for user-defined sample size in bamPEFragmentSize"
Currently bamPEFragmentSize uses a non-specified number of samples fragments to estimate the fragment size.
One should provide an option to allow for user-defined sample size (as in e.g. bamCorrelate) and also specify the default sample size.

[2015-12-11 14:37] asrichter opened #138 "Merge bam2nucleosome into bamCoverage"
The tool bam2nucleosome basically does the same as bamCoverage with some small changes specific to MNase data: "Determine nucleosome positions from MNase-seq data. Only 3 nucleotides at the center of each fragment are counted."
Therefore, a `--MNase` option should be added to bamCoverage and bam2nucleosome should be dropped to ease maintenance.

I already added the option to bamCoverage, but witho

[2015-12-11 14:40] asrichter opened #139 "Add better explaination of behaviour of bamPEFragmentSize"
The output mean, std, min and max deviate from the results of Picard CollectInsertSizeMetrics. It seems that only properly paired reads considered (max. length of 1000 suggests this). Correct? If yes, this should be specified on the help page.

Furthermore, the `--verbose` option seems to be without function.

[2015-12-11 16:46] asrichter opened #140 "Extension of fragments does not work"
The recently changed `--extendReads` option does not work. There are several issues.

* When single-end data is provided and a value for the fragment size is specified **together with** `--normalizeTo1x`, bamCoverage crashes.
[code]
* When single-end data is provided and **no** fragment size is specified **together with** `--normalizeTo1x`, bamCoverage crashes with another error.
[code]
* When sin

[2015-12-12 17:07] sukhdeepsingh commented on #106
Thanks Devon, I tested it out. I can't see the messages reporting "NaN values" anymore and the output files are populated with data as well. So, I reckon the bug is gone, This issue can be closed.

Cheers

[2015-12-12 17:49] dpryan79 commented on #106
Awesome, thanks for the update!

[2015-12-12 17:49] #106 closed

[2015-12-12 23:10] bgruening opened #144 "--missingDataAsZero is not a boolean"
@fidelram @dpryan79 do we want to take the opportunity and make a boolean out of it? Maybe `--disableMissingDataAsZero`? It's long and ugly, but the `yes`/`no` is not intuitive either.

[code]

[2015-12-12 23:22] bgruening commented on #144
Especially because in computeMatrix we have this: https://github.com/fidelram/deepTools/blob/release-1.6/deeptools/computeMatrix.py#L248

[2015-12-13 12:02] vivekbhr commented on #144
That's right I would vote for the boolean option..

[2015-12-13 12:04] vivekbhr commented on #144
@bgruening @fidelram @dpryan79 the option can be named : --keepMissingData , and we can edit the help to say what it means

[2015-12-13 12:45] bgruening commented on #144
@vivekbhr I like `--keepNAs`.
This option is in many places, even referenced in other parameters so we need to grep through the code once we agreed on a way forward.

[2015-12-14 10:16] fidelram commented on #144
we should make this boolean!

[2015-12-14 13:53] dpryan79 commented on #120
@avilella: Have you had a chance to try 1.6?

[2015-12-14 13:56] avilella commented on #120
I did, and it still crashes. I sanitized the ref names, and it still
crashes, presumably due to a limit in the number of contigs in a reference
file. I resorted to turn the hs38DH bam into a filtered out karyotype bam,
and then it works as it used to be.

Sadly no straight solution...

On Mon, Dec 14, 2015 at 1:53 PM, Devon Ryan <notifications@github.com>
wrote:

[2015-12-14 13:57] dpryan79 commented on #97
I would suggest that we close this, since there's no point in making Cwig or smallWig files when IGV/et al. don't support them.

[2015-12-14 13:59] dpryan79 commented on #120
I assume the error message is different at least (it'd have to be). Could you provide us with the BED and bigWig files so we can fix this?

[2015-12-14 14:17] avilella commented on #120
Here is a small example:

If I run the commands in the deeptools_heatmap.sh command with the
*.mrgd.bam file, it fails.

If I run the same commands with the *.mrgd.karyotype.bam file, it works.

https://cloud.curoverse.com/collections/download/qr1hi-4zz18-4vctm1bt5f76dan/48dhtbven3q7wxj1newlzrnzujuc0hy5ynm1iyqbvujv0ghw6m/

On Mon, Dec 14, 2015 at 1:59 PM, Devon Ryan <notifications@github.com>
wrot

[2015-12-14 14:32] dpryan79 commented on #120
Great, thanks, I'll have a look and get this fixed!

[2015-12-14 15:18] dpryan79 commented on #120
Did you include the wrong BED file or is the shell script just incorrect there?

[2015-12-14 15:19] avilella commented on #120
One is just a 'head -n 1000' of the other...

On Mon, Dec 14, 2015 at 3:18 PM, Devon Ryan <notifications@github.com>
wrote:

[2015-12-14 15:20] dpryan79 commented on #120
Ah, OK :)

[2015-12-14 15:27] avilella commented on #120
For the karyotype.bam file, when it works, the three commands are the ones
below:

# /bi/home/rocks-av/.local/bin//computeMatrix scale-regions
--regionsFileName /bi/group/cegx/CEGXP/NIMBP001B000.nnn.targ.250.bed
--scoreFileName
WBGS-oxBS-vB-1000ng-PCR06-R02_S1_L001_R1_001.cutB_pe.sorted.mrgd.karyotype.bam.bw
--beforeRegionStartLength 50 --afterRegionStartLength 50 --regionBodyLength
250 --binSize

[2015-12-14 15:34] dpryan79 commented on #120
Could you post the updated error message that you get?

[2015-12-14 16:34] #138 closed

[2015-12-14 16:34] fidelram commented on #140
Fixed in #149

[2015-12-14 16:34] #140 closed

[2015-12-15 08:06] dpryan79 commented on #120
This seems to work now in the current release-1.6 branch. The original error was from bx-python, which has been replaced in the interim.

[2015-12-15 08:06] #120 closed

[2015-12-15 08:15] #144 closed

[2015-12-15 08:22] #97 closed

[2015-12-15 08:24] #104 closed

[2015-12-15 08:25] fidelram commented on #90
This has been changed in the release-1.6 branch

[2015-12-15 08:25] #90 closed

[2015-12-16 09:02] #103 closed

[2015-12-17 08:33] bgruening opened #157 "Testing Docker Image"
The Docker image with the latest wrapper can be tested in 10min with this command. I hope everything will work, let me know if now. This is not the final version but a version we can test and work with, hopefully.

`docker run -i -t -p 8080:80 bgruening/galaxy-deeptools`

[2015-12-17 13:58] dpryan79 commented on #157
FYI, I'm testing this now. Once the server is up and accessible from outside I'll send you a link.

[2015-12-17 14:02] dpryan79 commented on #157
I do get an error of some sort immediately after the containers are downloaded:

    umount: /var/lib/docker: must be superuser to umount
    Traceback (most recent call last):
      File "/usr/bin/ansible", line 36, in <module>
        from ansible.runner import Runner
    ImportError: No module named ansible.runner

This doesn't seem to have an actual effect, though.

[2015-12-17 14:29] bgruening commented on #157
Yeah, does not affect the container ... we are running all on dev ;)

[2015-12-17 14:56] dpryan79 commented on #157
Hmm, by default it can't run any jobs or take uploaded files, since it can't connect to a slurm server

[2015-12-17 15:10] dpryan79 commented on #157
I should note that this just requires changing job_conf.xml, which is quite simple. I'm not sure why slurmd isn't running, perhaps because I'm using `--net=host` that's causing problems (I'm not sure if it's running on the host server or not, but obviously that'd be a problem).

[2015-12-17 15:17] bgruening commented on #157
Maybe I should build against the stable version :)
But this seems wired too me because starting it in a normal way everything starts up perfectly fine.

[2015-12-18 13:26] dpryan79 opened #167 "Proof read documentation/help messages"
This is just to serve as a reminder to me to proof read the documentation and help messages.

[2015-12-20 10:02] dpryan79 commented on #157
I still haven't figured out why yet, but it seems that bx-python needs to be the last thing prepended to the PYTHONPATH. If that's not the case, its `site.py` doesn't get run and the egg directories are ignored (i.e., you can't `import bx` any more, which then causes some of the deepTools tools to not work). A work around is to just reorder things so that the bx-python env.sh is the last one sourc

[2015-12-20 12:51] bgruening commented on #157
@dpryan79 when did this happen at program start or does the program calculate and crashes at the end?

[2015-12-20 15:23] dpryan79 commented on #157
@bgruening At start. I can also confirm this by sourcing `env.sh` within deeptools, starting python and entering `import bx`.

[2015-12-20 23:05] dpryan79 commented on #157
@bgruening: I figured out why this is happening. bx-python is installed as an egg rather than as a regular module. Eggs are *only* loaded if they're in `site-packages` (e.g., they come with python) or if there's a `site.py` in the first entry in `sys.path`. The latter will only happen if the whatever directory that is happens to contain eggs. Since most python packages, such as scipy/numpy/pybigwi

[2015-12-21 08:11] dpryan79 commented on #157
@bgruening: On second thought, an easy enough work-around is to just have bx-python add its egg to PYTHONPATH. I'll make a PR with the IUC.

[2015-12-21 08:51] dpryan79 commented on #157
PR is here: https://github.com/galaxyproject/tools-iuc/pull/502

[2015-12-21 09:51] dpryan79 opened #170 "Setting pdf/eps/svg as output type results in wrong data type"
It turns out that at least for `plotCorrelation`, you can have the tool output a PDF or SVG file, but Galaxy will still set the datatype to PNG.

[2015-12-21 09:58] thomasmanke opened #171 "galaxy: plotCorrelation"
Plotting type offers choices "Spearman, Person". It should be "heatmap,scatterplot"

[2015-12-21 10:04] dpryan79 commented on #171
@bgruening: This was fixed by vivek, but presumbly needs an update to the toolshed packages. You might wait until my PR is working and can be merged.

[2015-12-21 10:05] thomasmanke commented on #170
actually the tool can also do EPS

[2015-12-21 10:16] thomasmanke opened #173 "galaxy: plotCorrelation"
The tool allows --zMin and --zMax to be real, but Galaxy forces integer.
probably a side effect of the above: --zMin 0 is indistinguishable from -zMin -1

[2015-12-21 10:30] thomasmanke opened #174 "galaxy: plotCorrelation"
options --zMin, --zMax, --colorMap  apply only to plotting type "heatmap" and should appear there.

--plotTitle applies to both "heatmap" and "scatterplot", but currently only works for "heatmap"

[2015-12-21 10:36] bgruening commented on #171
I will update everything shortly. But I guess this fix is already in a new image.

[2015-12-21 10:45] bgruening commented on #170
@dpryan79 should I add again EPS I removed it a few days ago?
Will tackle this one.

[2015-12-21 10:50] dpryan79 commented on #170
I honestly wouldn't worry about EPS, though since it works we might as well leave it in. It was EMF or whatever that windows format is called that doesn't work.

[2015-12-21 10:52] thomasmanke opened #175 "galaxy: bigwigCorrelate"
accepts bam and bed as input files, while only bigwig should be accepted

[2015-12-21 10:53] bgruening commented on #173
@thomasmanke This should be fixed. What do you mean by `--zMin 0 is indistinguishable from -zMin -1 `

[2015-12-21 11:01] bgruening commented on #175
This should not happen ... it's labled as bigwig ...

[2015-12-21 11:19] thomasmanke opened #176 "bamCorrelate: extension length"
--extendReads is buried under advanced options, but it is a _requirement_ for single-end reads.
Can we set a meaningful default, i.e 0 ?

[2015-12-21 11:21] bgruening commented on #176
What should happen in case of single-end reads and no --extendReads is set?
ping @fidelram

[2015-12-21 11:25] thomasmanke commented on #176
Then only the mapped length should be considered, in a splice-aware manner. I though deepTools is splice-aware

[2015-12-21 11:28] thomasmanke opened #177 "bamCorrelate: wrapper"
The wrapper is still outdated. There should be a new version from branch thomas_docu_changes

[2015-12-21 11:31] bgruening commented on #171
Closing because of fixed in release_1.6

[2015-12-21 11:31] #171 closed

[2015-12-21 11:47] bgruening commented on #176
I don't find were extendReads is a requirement: https://github.com/fidelram/deepTools/blob/release-1.6/deeptools/parserCommon.py#L32

[2015-12-21 11:52] bgruening commented on #175
Ah ok I see what happens here. Galaxy will autoconvert it to bigwig if you give it a BAM or BED file. Everything is fine, not a bug.

[2015-12-21 11:52] #175 closed

[2015-12-21 11:59] bgruening commented on #157
Very interesting! I have no clue why bx-python is build as egg and all other packages aren't.
Updated and merged all packages into the TS.

[2015-12-21 11:59] #157 closed

[2015-12-21 12:04] bgruening commented on #170
Should be fixed here: https://github.com/fidelram/deepTools/commit/9850f3e091ef48021fb1b501f270ea6c88a9c2c0

[2015-12-21 12:07] dpryan79 commented on #176
This is fixed in the most recent push.

[2015-12-21 12:17] thomasmanke opened #178 "bamCorrelate: input"
The user needs to provide at least two bam-files. This is currently not checked and can result in error.

[2015-12-21 12:17] bgruening commented on #174
Should be fixed, please retest with a new image.

[2015-12-21 12:17] #170 closed

[2015-12-21 12:29] thomasmanke opened #179 "computeMatrix: advanced output settings"
one of the "advanced output" is now very purpose of the tool (matrix of values).
Not sure if the other outputs (profile data and regions after skipping) are still reported.

[2015-12-21 12:37] bgruening commented on #179
@thomasmanke I don't understand this, sorry. What do you want to have changed?

[2015-12-21 12:38] dpryan79 commented on #179
I would label this "wontfix". The matrix of values as a text file is almost never useful to a galaxy user, it should be disabled by default (as it currently is) and hidden by default (also as it currently is).

[2015-12-21 12:40] thomasmanke commented on #179
?? computeMatrix computes a matrix, but currently this is advanced output and disabled. I think I'm missing something.

[2015-12-21 12:40] dpryan79 commented on #179
No, it always computes a matrix, the question is whether a text file representation is saved. Perhaps the help there should be updated.

[2015-12-21 12:43] thomasmanke commented on #179
Ah: Plain vs. compressed! ok then. yes, a comment would be nice

[2015-12-21 12:44] steffenheyne opened #180 "plotCoverage - no Galaxy wrapper yet"
plotCoverage is a new tool in deeptools2 and we should get a wrapper for it, or? @bgruening is this possible? What do you think?

[2015-12-21 13:01] bgruening commented on #180
@steffenheyne is this ready for prime time? E.g --plotFileFormat is missing ...

[2015-12-21 13:05] thomasmanke commented on #173
--zMin 0 is not used and the output is as for --zMin -1. I suspect that "0" is treated as undefined and overwritten by -1 (in my case). --zMin -0.00001 does work as intended now. --zMin 0 still needs to be fixed

[2015-12-21 13:05] steffenheyne commented on #180
Is this a "requirement"? But yes, this option is missing...I will check how to add this...
Anything else needed/required?

[2015-12-21 13:11] dpryan79 commented on #180
I don't recall what the conclusion was of the last meeting. Realistically this will probably not be available before we have to submit, so no, it's not a requirement for that :=)

[2015-12-21 13:13] bgruening commented on #180
It's not, I will include it. I somehow missed ... everything else from the image preferences that makes sense from the other tools ... zmin, zmax, xmin, xmax?
For my feeling the interface should match as much as possible between all tools.

[2015-12-21 13:56] dpryan79 opened #181 "2bit files don't work"
While you can specify a 2bit reference genome, the wrappers seem to ignore them and instead use "".

[2015-12-21 14:07] #181 closed

[2015-12-21 14:14] bgruening opened #183 "Include Galaxy wrapper testing in travis"
Do we want this? The only disadvantage I can see is that testing keeps longer.

[2015-12-21 14:16] dpryan79 commented on #183
I guess it depends on how long the additional testing takes.

[2015-12-21 14:24] bgruening commented on #183
planemo t .  337,14s user 37,15s system 96% cpu 6:26,96 total

[2015-12-21 14:28] dpryan79 commented on #183
So maybe 8-9 minutes total then as opposed to 3 or so. I'm OK with that, for whatever that's worth.

[2015-12-21 14:31] bgruening commented on #183
To test the wrappers ;) and to get informed if we change the CLI interface but not the wrappers.

[2015-12-21 14:35] steffenheyne opened #185 "plotCoverage - cmdl interface needs to be adapted"
With all the latest changes on parameters like --extendReads the interface plotCoverage needs to updated. For the Galaxy wrapper an option "--plotFileFormat" would be nice.

also: is --skipZeros here a bit different than --skipNonCoveredRegions ?

This issue is just to not forget about this...

[2015-12-21 15:21] dpryan79 opened #186 "computeMatrix should take multiple score files and produce a single output"
`computeMatrix` now takes `-b file1.bw file2.bw ...` and produces a single matrix from that. This isn't currently supported.

[2015-12-21 15:35] thomasmanke opened #187 "plotHeatmap issues"
- default label ("genes") for profile y-axis is meaningless ==> my suggestion "coverage"
- what to show: the last three options  "heatmap only, heatmap and colorbar, colorbar only" do not work as selected and they will revert to "summary plot, heatmap and colorbar" instead. A sensible default, but the options are also useless. Perhaps it's worth having the heatmap without the summary.
- --onePlotP

[2015-12-21 18:13] fidelram commented on #186
For compute matrix should be -S instead of -b

[2015-12-21 18:18] vivekbhr commented on #187
Most of the issues are fixed in #188 now..

[2015-12-22 09:41] thomasmanke opened #189 "computeGCBias"
The defaults for reference genome (dm3) and effective genome size (hg19) do not match. Let's pick hg19 for both.

[2015-12-22 09:48] bgruening commented on #189
Can you please check the order in the loc files and provide them here?

[2015-12-22 09:54] thomasmanke opened #190 "computeMatrix"
the wrapper still refers to plotting.
- 1. regions to plot  ==> 1. Select regions

- setting "Label" at several places is probably obsolete here (?). This tool only calculates a matrix. No plotting.

- " ... reference point will be plotted " ==> " ... reference point will be considered".

- Advance options comment: "will be depicted as black areas in the heatmap by default" --> "will be depicted a

[2015-12-22 10:01] dpryan79 commented on #189
Everything was fine, closing.

[2015-12-22 10:01] #189 closed

[2015-12-22 10:18] #187 closed

[2015-12-22 10:41] vivekbhr commented on #177
@thomasmanke is this from your PR that was merged already?

[2015-12-22 10:51] bgruening commented on #177
There is still an unmerged branch from @thomasmanke here: https://github.com/fidelram/deepTools/compare/thomas_docu_changes?expand=1

No PR was created until now.

[2015-12-22 11:01] dpryan79 commented on #177
I'll ask him

[2015-12-22 11:08] dpryan79 commented on #177
They're not completed yet

[2015-12-22 12:58] vivekbhr opened #193 "plotCoverage on galaxy"
plotCoverage is currently not working on galaxy.

[code]

This is related to the macro : `input_image_file_format` which can't pass the value to `--outFileFormat` (line 25).. but it's better if @bgruening or @dpryan79 fix it..

[2015-12-22 13:49] bgruening commented on #193
Mh strange test are passing for me. I will look into this one.

[2015-12-22 13:55] steffenheyne commented on #193
I think it is the --scaleFactor option that cause problems, it is now calles "--scaleFactors" and teh paramters format looks like "1:2", ie.  "--scaleFactors 1:2"

[2015-12-22 14:02] #186 closed

[2015-12-22 14:22] bgruening commented on #193
@steffenheyne I don't see a scaleFactors option in plotCoverage. But I see a `  --plotFileFormat FILETYPE
                        Image format type. If given, this option overrides the
                        image format based on the plotFile ending. The
                        available options are: png, emf, eps, pdf and svg.
`
I don't understand this error.
@vivekbhr this is happening in Galax

[2015-12-22 14:23] steffenheyne commented on #193
sorry the scaleFactor problem is for bigwigCompare!!!

[2015-12-22 14:26] bgruening commented on #193
In the most recent wrappers we have `--scaleFactors number:numer`.

[2015-12-22 14:57] dpryan79 commented on #193
The actual plot coverage error is now resolved. The bigwigCompare thing is hopefully being followed in its own issue report :)

[2015-12-22 14:57] #193 closed

[2015-12-22 14:59] dpryan79 commented on #177
This was merged in, closing.

[2015-12-22 14:59] #177 closed

[2015-12-22 15:16] vivekbhr commented on #174
@bgruening @thomasmanke This is fixed now..

[2015-12-22 15:16] #174 closed

[2015-12-22 15:20] vivekbhr commented on #180
the wrapper is working in galaxy now..
[plotCoverage.pdf](https://github.com/fidelram/deepTools/files/69845/plotCoverage.pdf)

[2015-12-22 15:20] #180 closed

[2015-12-22 15:22] vivekbhr commented on #137
The sample size depends on numProcessors and genome size at this moment.. I added a better explanation for this now but custom sample size is still not implemented.

[2015-12-22 15:30] vivekbhr commented on #139
@asrichter I fixed it in my PR #196

[2015-12-22 15:30] #139 closed

[2015-12-22 16:01] vivekbhr commented on #185
--extendReads and other params are working now
--plotFileFormat is in galaxy..

**--skipZeros** is still there in plotCoverage, computeMatrix, plotCorrelation and bamFP.. It looks like it's a simple conversion from NaN to zero but don't know how different from --skipNonCoveredRegions. @fidelram

[2015-12-22 16:08] thomasmanke opened #197 "plotCorrelation: svg does not display"
Is SVG supposed to show in galaxy? PDF does, but SVG is shown as ascii (XML).

[2015-12-22 16:16] fidelram commented on #185
--skipZeros is different than --skipNonCoveredRegions. skipZeros simply ignores rows or zeros in a matrix. --skipNonCoveredRegions acts on each sample either adding or treating as zero regions without reads or without any bigwig score.

[2015-12-22 16:39] vivekbhr commented on #185
so they have different behavior..

[2015-12-22 16:39] #185 closed

[2015-12-22 17:12] bgruening commented on #197
This is a feature ;)
https://github.com/galaxyproject/galaxy/blob/dev/config/galaxy.ini.sample#L627

We need to deactivate this feature to activate SVG rendering. I will include this in the Docker Image.

[2015-12-22 17:14] bgruening commented on #197
fyi: https://github.com/bgruening/docker-recipes/commit/fd3dc4b106ee9be31c52587d296df282dc6184c0

[2015-12-22 17:36] #176 closed

[2015-12-22 17:36] #178 closed

[2015-12-22 17:38] vivekbhr commented on #179
@dpryan79 you probably have to restart the docker after this mere since this is not working yet..

[2015-12-22 17:46] bgruening commented on #179
I'm creating a new image right now.

[2015-12-22 18:36] dpryan79 commented on #179
@vivekbhr: I'll update the wrappers and install now. FYI, the general workflow is as follows:

1. Some change is merged into the release-1.6 branch
2. Björn or I trigger a docker image build.
3. The aforementioned step has a "side effect" of pushing updated wrappers to the Galaxy toolshed.
4. I manually install those on deeptools2
5. Often I restart, since that's typically needed.

Not exactly aut

[2015-12-22 19:15] dpryan79 commented on #179
Restarted, this should work now.

[2015-12-22 19:15] #179 closed

[2015-12-22 19:24] dpryan79 commented on #197
This is now fixed, closing.

[2015-12-22 19:24] #197 closed

[2015-12-22 19:35] dpryan79 commented on #173
This is fixed in https://github.com/fidelram/deepTools/commit/8b9cdb8dc4a8fedd2b2286e7afab6529e49a9d22

[2015-12-22 19:35] #173 closed

[2015-12-22 19:56] dpryan79 commented on #73
This is fixed in the version 2.0 wrappers.

[2015-12-22 20:03] dpryan79 opened #198 "Support remote BAM/bigWig files"
This largely already works in the release-1.6 branch, but there's no reason that deepTools can't now support remote bigWig/BAM files.

[2015-12-22 20:06] dpryan79 opened #199 "Remove dependency on UCSCtools/samtools"
Now that deepTools uses pyBigWig, there's no need for UCSCtools. While not yet completely documented, pyBigWig now supports bigWig file creation without intermediate files. Also, there's nothing that samtools does that we can't just do with pysam.

These two changes would considerably simplify the installation as well.

[2015-12-22 20:48] dpryan79 commented on #84
This works in the 2.0 version, closing.

[2015-12-22 20:48] #84 closed

[2015-12-22 22:34] steffenheyne opened #200 "bigwigCompare on galaxy fails"
galaxy produces the following error while running bigwigCompare with 2 bigwig files:

Traceback (most recent call last):
  File "lib/galaxy/jobs/runners/__init__.py", line 165, in prepare_job
    job_wrapper.prepare()
  File "lib/galaxy/jobs/__init__.py", line 862, in prepare
    self.command_line, self.extra_filenames, self.environment_variables = tool_evaluator.build()
  File "lib/galaxy/tools/e

[2015-12-22 22:48] bgruening commented on #200
And fixed! Thanks a lot Steffen!

[2015-12-22 22:48] #200 closed

[2015-12-22 22:51] dpryan79 commented on #200
@steffenheyne: I'll update the server tomorrow and this fix will then be live.

[2015-12-23 12:15] #190 closed

[2015-12-23 14:00] dpryan79 opened #202 "Reduce memory requirements in computeMatrix"
computeMatrix uses an absolutely absurd amount of memory for what it's actually doing. It doesn't help that it's getting values rather than intervals, which would be vastly faster and more memory efficient.

[2015-12-23 14:16] dpryan79 commented on #107
The automatic closing of issues is currently broken, so I'll close this manually.

[2015-12-23 14:16] #107 closed

[2015-12-23 14:19] bgruening commented on #202
You already tried the value approach and it doesn't work?

[2015-12-23 14:32] dpryan79 commented on #202
The value approach is what's currently implemented. It'd need to be redone a bit to take intervals and the results compared to ensure that things are being done correctly. This would, however, be preferable.

[2015-12-23 19:11] dpryan79 commented on #167
Galaxy is finished in #203, but the rst files still need to be done.

[2015-12-23 22:23] #73 closed

[2015-12-26 10:30] dpryan79 commented on #202
This was largely due to me using too many `Py_INCREF()`s in pyBigWig. That's fixed in version 0.1.10.

[2015-12-26 10:30] #202 closed

[2015-12-29 11:20] #167 closed

[2016-01-03 16:43] bgruening opened #205 "1.5.13 is too big"
The 1.5.13 release is over 40MB big. It would be nice to not include the webpage into the release tarball. Also the last stable release is not on pypi.

[2016-01-05 09:56] dpryan79 commented on #205
At least 1.6.0/2.0.0 is only 17MB, which could become ~124KB by excluding the examples directory.

[2016-01-05 11:18] #205 closed

[2016-01-05 11:21] bgruening opened #208 "preparation for 2.0 release"
Short check list for all things we need to do before and after we release.

 * [x] tag a github release [Fidel]
 * [x] upload to pypi [Fidel]
 * [x] conda build [Bjoern or Devon]
 * [x] Galaxy TTS and MTS update [Bjoern]
 * [x] Docker Image update (ngs-preprocessing and deeptools image) [Bjoern]
 * [x] migrate deeptools2 to deeptools [Devon]
 * [x] usegalaxy.org installation [Bjoern]
 * [x] automa

[2016-01-05 11:21] bgruening commented on #208
Please feel to disagree and/or add remove items.

[2016-01-05 11:25] dpryan79 commented on #208
+1 We need to have an internal discussion about the last features that need to be added (my only suggestion would be remote file access, which is why I'm working on it now). I would also vote for automated internal testing, but I'm flexible on that one.

[2016-01-05 11:25] bgruening commented on #208
Oh and a release date would be nice to coordinate this :)

[2016-01-05 14:03] vivekbhr opened #209 "problem with argparse in computeGCbias"
computeGCbias is broken currently due to some minor(I think) argparse problem. I can't find which argument is causing this but when I do `computeGCBias -h` , I get :

[code]

[2016-01-05 14:20] vivekbhr commented on #199
Just adding here that some of the tools (eg. correctGCbias) also have checks for ucsctools and samtools, which can be removed after these dependencies are removed..

[2016-01-05 14:49] dpryan79 commented on #209
This was my fault. When I modified some of the English I put in "%GC", which breaks argparse.

[2016-01-05 15:00] dpryan79 commented on #209
This will get fixed whenever my remote-file-test branch gets finished and merged in.

[2016-01-05 15:14] vivekbhr commented on #209
@dpryan79 great :+1:

[2016-01-05 15:17] vivekbhr commented on #48
With recent changes this won't be required anymore..

[2016-01-05 15:17] #48 closed

[2016-01-05 18:15] cjt5 opened #210 "Installation issue"
I am currently attempting to install deeptools on a MAC OS X Yosemite (Version 10.10.15) and am getting the following error.

Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/9l/k9fq7hc90vzchb0qjf6cxl5j6f95tw/T/pip-build-_mz9jhov/deeptools

I used both pip install (after anaconda installation) as well as python setup.py install...not sure what I am doing wrong.

[2016-01-05 18:17] dpryan79 commented on #210
Can you post the exact command you used and the entire output before the error is encountered?

[2016-01-05 18:20] cjt5 commented on #210
terranova$ pip install deeptools
Collecting deeptools
  Using cached deepTools-1.5.12.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/private/var/folders/9l/k9fq7hc90vzchb0qjf6cxl5j6f95tw/T/pip-build-_mz9jhov/deeptools/setup.py", line 22
        print "This does not appear to be a Git

[2016-01-05 18:24] bgruening commented on #210
@cjt5 this seems to be a Python3 issue. Can you run it please under python2?

[2016-01-05 18:25] dpryan79 commented on #210
One of these days we'll support python3 as well...

[2016-01-05 18:28] bgruening commented on #210
Sure, we take sponsoring of :beers: and hack this out in a week :)

[2016-01-05 18:30] cjt5 commented on #210
Thanks a lot! Will try it out and let you know what happens.

[2016-01-05 20:28] cjt5 commented on #210
Everything worked fine using Python2...

Thanks again!

[2016-01-05 20:30] bgruening commented on #210
Awesome!

[2016-01-05 20:30] #210 closed

[2016-01-07 10:55] AlicePsyche opened #211 "binSize problem with bamCoverage"
Hi, all

When I use bamCoverage, the bin size of generated bw file is not the same length, like following:

[code]

The command I run:

[code]

I am a newbie to bioinformatics, did I miss anything? I have read your 'all command line options' wiki page but found nothing. It would be grateful if you can help me.  Thanks for your valuable time :)

[2016-01-07 11:06] dpryan79 commented on #211
Can you write a bedGraph file and see if the same happens there. It might be that the conversion tool merges neighbouring entries with the same values.

[2016-01-07 11:29] AlicePsyche commented on #211
Thanks for your quick reply ! But the problem still there
[code]

command:
[code]

[2016-01-07 12:42] dpryan79 commented on #211
I tracked this down and it's due to this: https://github.com/fidelram/deepTools/blob/release-1.6/deeptools/writeBedGraph.py#L255-L256

That's not really a bug, it's a feature. This just saves space in the output files since there's no point in producing the extra lines.

[2016-01-07 13:02] dpryan79 commented on #211
If you really need this, then you can uncomment the stuff a few lines up (https://github.com/fidelram/deepTools/blob/release-1.6/deeptools/writeBedGraph.py#L241-L248).

[2016-01-07 13:02] #211 closed

[2016-01-07 13:12] AlicePsyche commented on #211
Oh, I see ! Thanks very much ;)

[2016-01-07 13:15] dpryan79 commented on #99
Closing, go ahead and reopen this if you can get some test files to us.

[2016-01-07 13:15] #99 closed

[2016-01-07 16:11] vivekbhr commented on #34
As per this discussion, column 7 is in abuse now, and we can use *plotheatmap* output for *computematrix* in Deeptools-2.0.

[2016-01-07 16:11] #34 closed

[2016-01-11 13:20] #198 closed

[2016-01-11 13:20] #209 closed

[2016-01-11 13:20] #199 closed

[2016-01-11 14:23] dpryan79 commented on #208
We're shooting for 2 weeks until release.

[2016-01-11 15:30] dpryan79 opened #213 "Potential for out of order entry addition when writing bigWig files"
In the bigWig creation stuff, I've assumed that the bedGraph would be in the same sort order as the BAM file header. This isn't actually the case and can cause issues. The solutions are (1) write a different sort utility or (2) sort the chromosome list that goes into pyBigWig to match the file. Option 2 is certainly simpler.

[2016-01-11 21:52] vivekbhr commented on #208
Two features that I think should to be added in near future:
1. A set of contrasting colours + alternating line types in bamFP, which will solve #80 . (maybe before 2.0 release)
2. A general GTF file parser, which will solve #71 #76  (for the next release).

[2016-01-11 22:16] bgruening commented on #208
@vivekbhr I would create separate issues for this and tag them with a potential milestone. I wouldn't include any new features at this point. We can create a 2.1 release real quick if we like to, but we need to get this baby out, imho.

[2016-01-11 22:22] dpryan79 commented on #208
Agreed, these features will should be 2.1. This thing has been in development for 2 years without a release, that's more than long enough.

For what it's worth, I was going to assign #80 to myself, since that should hopefully be an easy fix. #71 is easy if we just use "transcript" entries. I think #76 would take rather more effort that it might appear, though I agree it would be nice.

[2016-01-12 06:03] AlicePsyche opened #214 "pyBigWig.so problem"
Hi,
Recently I install deeptools on my own Mac but I found that everything related with bigfile has a problem. When I ran bigwigCompare or computeMatrix or any command invoke pyBigWig.so, the error message

[code]

But when I found libcurl

[code]
I found that
[code]

and my PATH

[code]

My curl

[code]

My mac run EI capitan. I am not familar with python. what libcurl.4.dylib did pyBigWig use? D

[2016-01-12 08:07] dpryan79 commented on #214
Anaconda is unfortunately broken. While I have a fix for this working under
Linux (conda install -c bioconda pybigwig), it's not yet working under OSX.
So you'll have to not use anaconda there (just "pip install ...").

Devon

--
Devon Ryan, Ph.D.
Email: dpryan@dpryan.com
Data Manager/Bioinformatician
Max Planck Institute of Immunobiology and Epigenetics
Stübeweg 51
79108 Freiburg
Germany
<devon.r

[2016-01-12 09:10] steffenheyne commented on #213
I just want to stress that the sort order (of bedgraph/bigwig) is *important*. I had once a lot of trouble to sync outputs of different tools (deeptools and others) because the didn't care about the chr order. The additional difficulty was that I coudn't simply use linux sort as some other sort magic happend internally. So it would be nice to have either the sort order of the bam index or a sort-r

[2016-01-12 09:15] dpryan79 commented on #213
At the moment the sort is reproducible with `LC_ALL=C sort -k1,1 -k2n,2 some_file`. I would generally prefer to keep the sort order of the BAM file, but that's rather more difficult to do (we'd need to write a file merger, though that wouldn't be too terrible to do).

[2016-01-12 09:26] steffenheyne commented on #213
ah and what happens actually in the bigwig with chromosomes appearing in the bam index but they have no values at all in the bedgraph!? It would be nice if at least these chr (with the right size) appear in the bigwig index (does something like this exists?). I think I also had once problems with another tool that striped down these chr....

All this was important for me to get a proper (ie. have

[2016-01-12 09:34] dpryan79 commented on #213
All chromosomes are in the index, regardless of whether they have an entry (the size is provided by the BAM file). Anything that produces lines with 0 in a bedGraph file will do so in a bigWig file as well.

[2016-01-12 09:43] AlicePsyche commented on #214
Now i use pip but the problem is still there.

[code]

I don't think the problem is conda, it should be pyBigWig or libcurl.

I have update pyBigWig

[code]

[2016-01-12 09:46] dpryan79 commented on #214
Weird, I'll have a look, though I suspect I'll have a fix in place for anaconda by the end of the day.

[2016-01-12 10:01] lelouar commented on #208
what you think of this feature for release 2.0 ? #108

[2016-01-12 10:03] dpryan79 commented on #208
@lelouar: It won't be done in time for 2.0. That's a good feature for 2.1 though.

[2016-01-12 10:35] fidelram commented on #213
The sort order for bigwigFiles was imposed by the USCS `bedgraphToBigWig`. It has to be `LC_ALL=C sort -k1,1 -k2,2n `. Since now we are not using `bedgraphToBigWig` anymore we can probably use the same sort order as bam.

[2016-01-12 10:50] fidelram commented on #208
I agree with the list and I will add the renaming of `bamCorrelate`,  `bigwigCorrelate`, `bamFingerprint`. For the last one the idea is to clarify that they make a plot and should be labelled accordingly like `plotFingerprint`. Since the input to make the `bamFingerprint` is virtually identical to the one used to plot the correlations we can simplify the process by requiring as input for `plotFing

[2016-01-12 20:29] dpryan79 commented on #214
This is now available in conda in OSX via `conda install -c bioconda pybigwig`. I'll see if I can get a system with OSX and homebrew to test the normal pip stuff tomorrow.

[2016-01-12 22:11] #213 closed

[2016-01-13 09:05] #124 closed

[2016-01-13 14:23] dpryan79 opened #217 "Read the docs updates"
The following pages still reference the wiki:

 * [x] example_usage
 * [x] help_faq
 * [x] help_galaxy_intro
 * [x] example_gallery
 * [x] example_step_by_step
 * [x] help_faq_galaxy

In addition, there are pages that have no links:
 * [x] help
 * [x] help_faq_galaxy
 * [x] example_gallery
 * [x] example_step_by_step

The following pages don't currently render properly:
 * [x] example_gallery
 * [

[2016-01-13 15:14] dpryan79 commented on #65
@vivekbhr: Can you check and see if this is still an issue?

[2016-01-13 23:26] dpryan79 commented on #217
See the `doc_fixes` branch for the updates.

[2016-01-13 23:48] dpryan79 commented on #214
This seems to work now with the system python too (at least if you have `pip` installed):
[code]

[2016-01-13 23:48] #214 closed

[2016-01-14 00:51] friedue commented on #217
I will dedicate most of tomorrow for working on this

[2016-01-14 08:12] dpryan79 commented on #217
Cool, feel encouraged to use the `doc_fixes` branch. Then we can get everything updated in a single merge and not duplicate efforts.

[2016-01-14 10:58] dpryan79 commented on #65
I can confirm that this is still an issue.

[2016-01-14 11:16] dpryan79 commented on #65
This means the correctGCbias also can't handle differing names

[2016-01-14 13:15] fidelram commented on #65
Although we can fix the by adding or removing internally a prefix in the chromosome names (as we do in other tools), the workaround is simple. I don't think is a bug.

[2016-01-14 13:54] dpryan79 opened #219 "Recent reversions"
plotHeatmap/plotProfile have undergone the following reversions recently:

plotProfile:
 * [x] Relatedly, `--colors` no longer has any effect with `overlapped_lines`

plotHeatmap:
 * [x] `--colorNumber` has no effect
 * [x] `--yMax` somehow the profiler axis is then lost
 * [x] `--whatToShow` seems to be ignored

plotProfile and plotHeatmap:
 * [ ] `--yMin`/`--yMax` seem to zoom and shift the wind

[2016-01-14 14:59] dpryan79 commented on #219
The `computeMatrix` thing was a bug in my script.

[2016-01-14 15:03] friedue commented on #217
absolutely

[2016-01-14 15:23] dpryan79 commented on #219
The overlapped_lines issue was due to switching to hexbin, which I'm not sure supports this.

[2016-01-14 15:27] dpryan79 commented on #219
Indeed, this is no longer possible for hexbin. I suppose this is how #124 got closed...

[2016-01-14 15:31] fidelram commented on #219
Instead of adding a color per line, the new `plotProfile` version adds a block which gets properly labelled.

[2016-01-14 15:32] dpryan79 commented on #219
Indeed

[2016-01-14 16:03] friedue commented on #208
can you update me on the renaming plans:
* do you mean that the tool names will be changed for the release of 2.0?
* what will the new names be?
* will the new names be implemented in Galaxy, too, and should I henceforth use the new names already when referring to the tools in the Galaxy documentation?

[2016-01-14 16:07] fidelram commented on #219
The `--colors` could be used for that. However, for the hexbin function colormaps are required (e.g. RdBuGr, or reds). But, I don't think those blocks should be colored differently by default. See:

![profile_hexbin](https://cloud.githubusercontent.com/assets/4964309/12329583/43be6d9e-bae1-11e5-893c-4cf6b72ec50b.png)

[2016-01-15 09:54] dpryan79 commented on #219
After playing around with things I'm just updating the documentation. I can make individual colormaps, but then individual colorbars are needed and that is incredibly cluttered. In the process, I also halved the size (in bytes) of produced svg and pdfs. These modifications are in the `fix219` branch.

[2016-01-15 10:15] dpryan79 commented on #219
That also removed a bug where the top image included all of the images superimposed

[2016-01-15 10:59] dpryan79 commented on #219
`--colorMap` doesn't seem to have any visible effect due to the range of values. That's no longer an issue.

[2016-01-15 14:28] fidelram commented on #219
Can you paste a plot of the problem with --yMIn/--yMax to get an idea?

[2016-01-15 14:33] dpryan79 commented on #219
It seems that it only happens in SVGs, which can't be pasted into github. That means that this is a matplotlib bug and we can't do anything about it. I'll go ahead and close this.

[2016-01-15 14:33] #219 closed

[2016-01-18 09:24] dpryan79 commented on #208
Bioconda is ready to go for both [Linux and OSX](https://travis-ci.org/bioconda/bioconda-recipes/builds/103066249). Just waiting on the release getting tagged and put on pypi.

[2016-01-18 11:02] vivekbhr commented on #208
@friedue we are not changing the names in 2.0 .. probably in 2.1..

[2016-01-18 11:06] bgruening commented on #208
@vivekbhr we changed the names in https://github.com/fidelram/deepTools/pull/220 and this is now in master, aka 2.0, isn't it?

[2016-01-18 11:11] dpryan79 commented on #208
@bgruening Correct. It wasn't done for the initial Galaxy preview, but will for the actual release.

[2016-01-18 11:13] vivekbhr commented on #208
@bgruening @dpryan79 Oh! I totally missed that thread..

[2016-01-18 11:15] dpryan79 commented on #208
@vivekbhr There are a lot of them, so that's unsurprising :)

[2016-01-18 12:47] dpryan79 opened #226 "--smoothLength is ignored"
`bamCoverage` and `bamCompare` have a `--smoothLength` option that ends up getting ignored.

[2016-01-18 13:00] thomasmanke commented on #217
I must have broken list_of_tools.rst when I tried to remove a row from the table. Sorry. The simple goal was to introduce "data integration" as an analysis type for (multiBigwigSummary, multiBamCoverage and computeMatrix). multiBigwigSummary should only appear once in the table.

[2016-01-18 14:41] dpryan79 commented on #217
@thomasmanke: I fixed the table in the master branch.

[2016-01-18 14:54] thomasmanke opened #228 "multiBamCoverage produces corrupted output in --outRawCounts"
The corrupted format below (EOL problem) occurs reproducibly.

maximus:~manke/tools/deepTools_test/test02>   ./test02.sh
maximus:~/tools/deepTools_test/test02>   head -309780 bamcov.32333.tab | tail -10
GL000219.1	20000	30000	0.0	0.0	0.0	0.0	0.0	0.0
GL000219.1	30000	40000	0.0	0.0	0.0	0.0	0.0	0.0
GL000219.1	40000	50000	0.0	0.0	0.0	0.0	0.0	0.0
GL000219.1	50000	60000	0.0	0.0	0.0	0.0GL000219.1	80000	9

[2016-01-18 14:57] dpryan79 commented on #228
In other words, `multiBamCoverage bins  -bs 10000 -b some_bam_files -out blah.npz --outRawCounts bamcov.32333.tab` is doing that.

[2016-01-18 16:18] fidelram commented on #228
I just tested and the problem is this line https://github.com/fidelram/deepTools/blob/master/deeptools/countReadsPerBin.py#L281

```shutil.copyfileobj(open(tempFileName, 'r'), self.out_file_for_raw_data)```

temporary files are created that are afterwards concatenated. However, shutil consistently misses some characters. The original temporary files are fine. This is very strange.

[2016-01-18 16:36] #228 closed

[2016-01-18 19:27] #226 closed

[2016-01-19 08:02] fidelram opened #229 "plotPCA has wrong option to save correlation"
Currently, plotPCA can only save an image and the option to save a correlation should be removed.

[2016-01-19 08:43] #229 closed

[2016-01-19 15:15] friedue opened #231 "Offer the option to export the data used to generate plots"
Most tools have the option already, but the ones currently missing it are:

* [ ] plotPCA
* [x] plotProfiles

[2016-01-19 23:23] friedue opened #233 "facelifts for readthedocs"
Feel free to contribute ideas, code, images...! @fidelram @dpryan79 @vivekbhr @kilpert @thomasmanke @asrichter @steffenheyne @bgruening

I am still a novice to reStructuredText, so any concrete input on how to make things actually look nice are much appreciated!

* [ ] the start site at readthedocs should also have a **slide gallery of images** instead of the current [static one](https://github.co

[2016-01-20 11:05] dpryan79 commented on #217
The biggest thing that needs to be done with this now is to update the `example_step_by_step`, which will require the updated Galaxy wrappers being in the toolshed. I propose merging the current `doc_fixes` branch back into master and starting a new branch.

@friedue: Thoughts? BTW, we're down to 23 warnings with `make html`. 16 of those are due to tools not being in the TOC (not an issue) and 3 a

[2016-01-20 23:16] friedue commented on #217
I agree on both, merging and starting a new branch.

Currently, I do not see any deepTools in deeptools2.ie-freiburg.mpg.de, so I guess their names will be updated soon?

[2016-01-21 08:04] dpryan79 commented on #217
@friedue: Sorry about the tools not currently appearing on deeptools2. I started updating them but hit an error with the installation of the actual deeptools package (as opposed to the wrappers). This isn't really an error in deepTools, it's just Galaxy being silly. They should appear and be functional by the morning your time.

[2016-01-21 13:10] dpryan79 commented on #217
I merged in and deleted doc_fixes. Feel free to make a new branch for additional changes, since I'm rather busy at the moment trying to determine WTF is up with the wrappers.

[2016-01-21 13:15] dpryan79 commented on #208
We essentially have all of the internal testing scripts gathered together and run, so I've checked that off.

@fidelram @bgruening: I don't see anything preventing tagging a release. I'm having some issues with the galaxy wrappers not working, but that doesn't really prevent tagging 2.0.0 IMO. If we're all in agreement with that then perhaps it's time to tag. Thoughts?

[2016-01-21 13:58] fidelram commented on #208
Let's do it. We already fulfilled all issues for the 2.0 milestone

[2016-01-21 14:09] bgruening commented on #208
:+1: for me as well. Than I can fix the wrappers and the Docker Images.

[2016-01-21 14:44] vivekbhr commented on #208
:+1:

[2016-01-21 14:58] bgruening commented on #208
It's out! @fidelram awesome!

Thanks all for this great release!

[2016-01-21 15:02] dpryan79 commented on #208
I'm testing the bioconda recipe now.

[2016-01-21 15:20] dpryan79 commented on #208
I have the PR into bioconda: https://github.com/bioconda/bioconda-recipes/pull/646

[2016-01-21 17:26] thomasmanke opened #235 "multiBigWigSummary"
- is there a particular reason why multiBigWigSummary only works for two or more files?
Accepting single-files would be similar to UCSCtools:bigWigAverageOverBed

- we need to provide better description of the output files (-out / --outRawCounts) in particular we need to specify which summary of scores for given intervals is chosen (sum, average, median, ...)

"--BED bedfile Limits the correlation

[2016-01-21 18:58] bgruening commented on #208
`docker pull quay.io/bgruening/galaxy-deeptools` has anything installed. Dockerhub makes trouble and is queueing my builds, but this will be resolved soonish hopefully. They are still migrating there services.

So this could be the final Docker release. I will make some smoke testing and release everything to the Main TS tomorrow if no one objects.

ping @dpryan79 @friedue

[2016-01-21 21:21] friedue commented on #235
bugger, I thought I had eliminated all mentioning of "correlation" from the multiBam* and multiBigwig* descriptions...will go through them again.

I tried to always give an example of the tabular output in the documentation, but I can be more specific in that case. It's the average, right?

[2016-01-21 21:35] dpryan79 commented on #208
@bgruening Thanks Galaxy is working happily now with the updated wrappers and the tagged 2.0.0 release :)

[2016-01-21 21:36] bgruening commented on #208
Awesome!

[2016-01-21 22:05] dpryan79 commented on #235
The limit of 2+ files is artificial and trivial to remove. The question is how the produced npz file would be useful. We don't currently have any tools that would make use of this.

[2016-01-21 22:07] friedue commented on #233
to have links for bigger image versions, I will use this syntax:

[code]

[2016-01-21 22:12] dpryan79 commented on #235
BTW, yes, it is indeed computing the average (https://github.com/fidelram/deepTools/blob/master/deeptools/getScorePerBigWigBin.py#L96), even though some of the code comments actually state otherwise (the stats() function in pyBigWig returns the mean, as did the equivalent in bx-python).

[2016-01-21 22:20] dpryan79 commented on #233
We should be able to use the same javascript image gallery. The javascript and such can go in `_static/`and add them to `script_files` in the configuration. There's an equivalent css config line, if that's needed.

[2016-01-21 22:23] thomasmanke commented on #235
as for the single bigwig file; the (optional) ascii output would basically be bed-graph, wouldn't it? That could be useful.

[2016-01-21 22:35] dpryan79 commented on #235
I suppose so. Once my PR passes in travis this will get fixed/closed.

[2016-01-21 22:46] #235 closed

[2016-01-22 07:58] fidelram commented on #235
I wonder what would happen if someone tries to run plotCorrelate on the output from a single bigWig.

[2016-01-22 08:45] dpryan79 commented on #235
I never tried, that's why I mentioned in the usage that using a single file is only useful for creating a bedGraph file. I'll try plotCorrelation and plotPCA on a single one, though, just to see what happens. I assume plotPCA will throw an error at some point (after all, you can't do a PCA of 1 sample). plotCorrelation should actually work, and if it doesn't I'll fix that.

[2016-01-22 09:03] dpryan79 commented on #235
Hmm, scipy ends up throwing an error half the time. I'll just make them check for this and give an appropriate error message.

[2016-01-22 09:10] dpryan79 commented on #235
See https://github.com/fidelram/deepTools/commit/df289f1ef7db07ab582794debcef3ebb1205df75

[2016-01-22 09:55] dpryan79 commented on #208
I just announced the deeptools.ie-freiburg.mpg.de migration for Friday next week.

[2016-01-22 09:57] dpryan79 commented on #208
We should discuss whether to keep the older versions after the migration. The normal default there would be, "but of course!", but since some of the names have changed, things like `bamCorrelate` will still show up and then be version 1.5.9. My proposal would be to just remove those old tools whose name changed. Thoughts?

[2016-01-22 10:20] dpryan79 opened #237 "Support python3"
Python 2.7 is getting seriously long in the tooth. I think all of the requirements work with python3 already and if I can support both with the C API then this should be simple in pure python :)

Odds are that the 2to3 converter will make everything work.

Steps needed:
 - [x] Remove bx-python
 - [X] Add deeptoolsintervals
 - [x] Add twobitreader
 - [x] Run `2to3` and test

[2016-01-22 12:13] fidelram commented on #208
humm. we need some brain storming to detect unforeseen consequences.

In galaxy, I understand that if a user wants to run a pipeline or re-execute a job, the version of the program is kept. Thus, even if the tools are deleted from the menu, users reproducing results should be directed to the previous version. Is that the case?

Now, what would happen if a user needs the previous version of deeptoo

[2016-01-22 12:16] fidelram commented on #237
I vote for this. We can start taking the steps listed here: https://docs.python.org/3/howto/pyporting.html

[2016-01-22 12:20] dpryan79 commented on #208
DeepTools is now in bioconda and should work on OSX and Linux with it.

[2016-01-22 12:23] fidelram commented on #233
Currently we have several entry points to deeptools and I don't think this does us any favor.
 * github.org
 * http://deeptools.github.io/
 * deeptools2.ie-freiburg.mpg.de
 * deeptools.readthedocs.org

I would favor to keep the RTDs documentation as simple as possible as CSS and JS can not be ported in pdf or epub format. But, also seems advantageous to try to replace github.io by readthedocs. Any

[2016-01-22 12:24] dpryan79 commented on #208
@fidelram: Yeah, I would just remove them from the menu. Normally they can select the version of the tool they would want to use (it defaults to the most recent, or at least the most recent installed). However, things like bamCorrelate wouldn't be there, so they couldn't run them. Alternatively, we could leave them there, but then people would continue using them.

I'm not entirely sure how Galaxy

[2016-01-22 12:37] bgruening commented on #208
We changed all linage in deeptools 2.0 as the names changed. What we can do is to hide old deeptools from the menue, so they only work in old workflows or kind of. All new stuff is taking the new deeptools version.

[2016-01-22 12:37] bgruening commented on #208
@dpryan79 do you think we can push to Main TS?

[2016-01-22 14:37] dpryan79 commented on #208
@bgruening: Yeah, we could just hide things, that'd be the simplest solution. Regarding pushing to the toolshed, I wan't to briefly test to make sure each tool runs. After that's done then I'll give a :+1:.

[2016-01-22 15:02] dpryan79 commented on #208
Missed opportunity: @vivekbhr just pointed out that the name of multiBamCoverage is confusing. In hindsight it should have been multiBamSummary, which would further distinguish it from bamCoverage. Maybe in 2.1...

[2016-01-22 15:17] dpryan79 commented on #208
Everything is getting a green light except plotPCA. I wonder if that's broken in the actual release...

[2016-01-22 15:18] bgruening commented on #208
It's not to late from my side. Just tag a new release, it's not yet in the TS and changing name later is even more confusing if the paper uses the old name.

[2016-01-22 15:21] dpryan79 commented on #208
Yeah, plotPCA is broken in 2.0.0. I'll fix it real quick. If we want to change the name we can then tag 2.0.1 after doing so.

[2016-01-22 15:30] dpryan79 commented on #208
I'll try to have an answer by tonight regarding the renaming. plotPCA now works (at least for me, though it'd be nice if someone double checked...). Then we can proceed with tagging a release and pushing to the TS

[2016-01-22 15:36] friedue commented on #233
* I would scrape github.io
* We should delete most of the stuff in the README file here on github and simply point to RTDs
* I'd keep the wiki for now, but don't link it anywhere, this way, users that may have bookmarked it can still access the old pages and will hopefully eventually migrate to the RTDs given the big notices we've put on every wiki page

[2016-01-22 17:01] fidelram commented on #208
we can do another renaming. I agree that now is better than later. @friedue do you foresee any issues with the documentation?

[2016-01-22 17:05] vivekbhr commented on #208
Yah I also agree we should do it sooner..

[2016-01-22 18:51] dpryan79 commented on #208
Shall we agree to just make multiBamCoverage multiBamSummary, to match multiBigwigSummary?

[2016-01-22 18:53] dpryan79 commented on #208
Truth be told, multiBigwigSummary can now take a single file, but I would ignore that since it's such an obscure use-case.

[2016-01-22 19:42] bgruening commented on #208
+1 for renaming again.

[2016-01-22 20:03] dpryan79 commented on #208
@fidelram: so does "multiBamSummary" work for you?
@thomasmanke: Thoughts?

I'm personally happy with the other names, though I guess if someone else wants another one renamed then it's sort of now or never...

[2016-01-22 20:26] friedue commented on #208
well, if multiBigwigSummary can now take single files, that name is sort of a misnomer now.... :-P

[2016-01-22 20:38] dpryan79 commented on #217
N.B., there's a new `doc_fixes` branch.

[2016-01-22 20:41] dpryan79 commented on #208
@friedue Yeah, the only real benefit to the "multi" prefix is that it emphasizes that more than one file should normally be entered. multiBamCoverage could also take a single file (I assume, if not it's another trivial fix). The only thing is that the resulting npz files aren't useful with any of our tools (the only useful thing is to write bedGraph files with the text output).

[2016-01-22 20:42] dpryan79 commented on #208
In fact, maybe they should print a warning if only a single file is provided and it isn't requested that the text file be written...

[2016-01-22 20:53] friedue commented on #208
yes, I like that! print a warning that yes, the tools will run, but the output will be useless unless the `--rawBlaOption` is chosen

[2016-01-22 21:10] dpryan79 commented on #208
On the Galaxy side, though, I think it'd be best to continue with 2+ files. At least IMHO, since otherwise we'll get questions about this every day.

[2016-01-22 22:11] thomasmanke commented on #208
Here is my vote for renaming to multi*Summary.

As for the multiBigWigSummary with single bw-file, I had only recently noticed that this has the potential to replace UCSCtools bigwigAverageOverBed - and it is way faster, thanks to Devon's efforts. For the biostars among us, we might even advertise it there (see: https://www.biostars.org/p/13802)
If we stick to 2+ files we cannot offer anything of

[2016-01-22 22:30] friedue commented on #208
* def. do not offer single files in Galaxy for use with multi*Summary tools
* personally, I don't think that the name has to capture all aspects of the tool -- it's just a name! maybe, we should give non-descriptive names to future tools, hence avoiding these kinds of discussion (and enabling wonderful bug reports such as: "Erwin is running and running and not returning anything!" or "Kai-Uwe does

[2016-01-22 22:31] thomasmanke commented on #208
I had tested plotPCA (successfully) using deepTools under /package/deepTools-2.0.0/,
but this version must have been out of sync.
Now /package is also out of sync (and plotPCA fails as reported by Devon). But together with Fidel we
tested the latest version and confirm that plotPCA works as intended.

[2016-01-22 22:33] thomasmanke commented on #208
;-) .  @friedue would be my name of choice for any new tool. And I will ask you to write its docu. Hilarious!!!

[2016-01-23 08:19] dpryan79 commented on #208
OK, we'll stick to multi*Summary. I have a branch that should allow multi*Summary to take a single file and then produce a warning if --outRawCounts isn't used. That would need to be tested (and the bane of my existence, PEP8 conformance, fixed), but then we can do a quick rename.

[2016-01-25 10:16] fidelram commented on #22
multiBamSummary can do that.

[2016-01-25 10:16] #22 closed

[2016-01-25 10:19] #21 closed

[2016-01-25 11:11] #65 closed

[2016-01-25 11:11] dpryan79 commented on #65
There will always be edge cases of this, but most of them should be covered by #243

[2016-01-25 12:55] dpryan79 commented on #208
@bgruening 2.0.1 is now out and plotPCA should be fixed (and multiBamCoverage renamed). Fidel is uploading to pypi now, so you should be able to bump the Galaxy wrapper versions shortly. I'll then retest plotPCA and multiBamSummary in Galaxy and (presumably) give a green light for pushing to the toolshed.

BTW, for the Galaxy package I would recommend getting the version from pypi rather than gith

[2016-01-25 15:29] dpryan79 commented on #237
It looks like the only stumbling block for this is bx-python. It doesn't officially support python3 and given that that was tried and removed from the bioconda recipe, fixing it may be non-trivial.

[2016-01-25 15:29] dpryan79 commented on #237
Since we only use the 2bit and interval things, I can just write replacements if needed (I'd obviously prefer not to!).

[2016-01-25 18:03] fidelram commented on #237
There is a bx-python3 https://bitbucket.org/mruffalo/bx-python3/overview

[2016-01-25 18:16] bgruening commented on #208
I'm not able to find the download link in pypi. The deeptools pypi page looks strange to me compared to other projects. Any idea what’s wrong here @fidelram ?

[2016-01-25 18:56] dpryan79 commented on #208
Yeah, I've been assuming that @fidelram somehow disabled the files section on pypi. Anyway, the link is here:  https://pypi.python.org/packages/source/d/deepTools/deepTools-2.0.1.tar.gz

[2016-01-25 19:16] bgruening commented on #208
Imaging is building and is now bound to 16.01.

[2016-01-25 19:26] dpryan79 commented on #208
:+1: Do you know what the ETA is on 16.01? I need to upgrade our internal instance and it'd make sense to wait until that's released.

[2016-01-25 20:36] simjbaum opened #244 "computeMatrix - outFileSortedRegions"
Dear deepTools team,
thank you for providing such a nice software.

I have the following issue with the computeMatrix tool. I used this tool to compute the coverage over a given region  by adding the parameter outFileSortedRegions. Recently I updated to deeptools 2 and ran now the computeMatrix command. Unfortunately I got "genes" in the last column back, but no occupancy value for the respective

[2016-01-25 20:43] dpryan79 commented on #244
Try the `--outFileNameMatrix` option :)

[2016-01-25 20:59] dpryan79 commented on #208
@bgruening The updated wrappers seem to work, though the version shows up as "2.0.1.0.0". If that's intentional then I would say you have a green light from our side to push to the TS!

[2016-01-25 21:06] simjbaum commented on #244
OK. This would work also, however before I was getting, I think a calculation (e.g. mean) over all bins (or rows) back. Like this:

chr1	8384389	8404227	region_0	0.990655573603	+
chr1	8390197	8404227	region_1	0.968249455065	+
chr1	19969722	19984949	region_2	1.55951189274	+

Its just a minor thing, however it cut that step in calculating the one value over all values in that row. It was helpful :-)

[2016-01-25 21:11] #244 closed

[2016-01-25 21:12] dpryan79 commented on #244
Good to know, we'll keep that in mind.

[2016-01-26 01:34] bgruening commented on #208
This week? ;) Who knows but this was the plan afaik.
So deepTools is now in the MTS and I updated all Docker containers again to get the latest version from MTS.

This **is** exciting!

[2016-01-26 07:50] fidelram commented on #244
we removed this functionality because 1. it was not documented,  2. users were expecting to get the same bed file after `--outFileSortedRegions ` to do other analysis. Previously, computeMatrix replaced the bed score column;  however, such column could contain useful information that was deleted. 3. there is a work around: select `--afterRegionStartLength`,  `--beforeRegionStartLength` and `--binS

[2016-01-26 07:54] fidelram commented on #208
@bgruening I have not disabled anything in pypi. I am surprised that it does not work I will check that that could be. My test always was to run pip install deeptools and check that I get the latest version.

[2016-01-26 08:07] bgruening commented on #208
@fidelram is does work. The page just looks wired. Usually you have a list with tarballs and md5 checksum displayed very prominently on the main page.

[2016-01-26 10:48] dpryan79 commented on #237
It might be easier to just not use bx-python. There's a `twobitreader` module that would at least take care of the 2bit stuff. That's written in pure python, so it might be a bit slow. There's also an intervaltree module that supports python 2 and 3. I might make a fork that uses those and see how the performance compares.

[2016-01-26 15:28] dpryan79 opened #245 "Odd multiBigwigSummary error"
The following produces `Fatal Python error: deallocating None`

    multiBigwigSummary bins -p 1 -b \
    https://www.encodeproject.org/files/ENCFF001LOU/@@download/ENCFF001LOU.bigWig \
    https://www.encodeproject.org/files/ENCFF001MVW/@@download/ENCFF001MVW.bigWig \
    https://www.encodeproject.org/files/ENCFF001MVX/@@download/ENCFF001MVX.bigWig \
    https://www.encodeproject.org/files/ENCFF0

[2016-01-27 07:59] dpryan79 commented on #245
Fixed in https://github.com/dpryan79/pyBigWig/commit/dcf7eeaff8614728ed1c9d59c547551af5490b25

[2016-01-27 07:59] #245 closed

[2016-01-27 19:36] dpryan79 opened #248 "validate correctGCBias produced BAM files"
This is basically a note to remind me to look sometime at the BAM files produced by correctGCBias. Since it's not playing around with the flags, they should pass htsjdk's rather absurd validator as long as the input file does as well. However, this may not always be the case and it's actually quite simple to just munge the flags such that they're valid (or at least produce a little warning that th

[2016-01-28 08:49] dpryan79 opened #249 "Make computeMatrix ignore non-existent chromosomes."
Most of the tools can accept BED files with entries on chromosomes that don't exist in the BAM or bigWig files. It seems that computeMatrix is the odd man out in that regard.

[2016-01-28 10:15] lelouar opened #250 "Compute matrix error when region are out of bound in the end of chromosome"
Hi,

I have just upgraded deeptool with "pip install deeptools" and I have some trouble with computeMatrix with the same data than before.

$ computeMatrix --version
computeMatrix 2.0.1

cmd :
$ computeMatrix reference-point \
--regionsFileName Homo_sapiens.GRCh38.77.chromosomes.gene.bed \
--scoreFileName Sample_25.bw \
--outFileName Sample_25.genes.TSS.matrix.gz \
--outFileNameMatrix Sample_25.in

[2016-01-28 12:27] dpryan79 commented on #250
This ends up being the same as #249 (I'll close this issue and reference it from there). In general, computeMatrix doesn't nicely handle invalid regions, which can happen both due to extending beyond the ends of a chromosome or due to using a chromosome not present in the bigWig files. My preferred solution would be to just screen out invalid regions, which would solve the problem (this is what ma

[2016-01-28 12:27] #250 closed

[2016-01-28 12:28] dpryan79 commented on #249
#250 ends up being the same issue, though in that case it's caused by region extension rather than non-existent chromosomes.

[2016-01-28 12:46] dpryan79 commented on #250
We actually have a PR already in place that might solve this issue (and #249). Once it's merged in I'll test this specific case and reopen the issue if it's not fixed.

[2016-01-28 13:14] #249 closed

[2016-01-28 13:41] dpryan79 commented on #250
This seems to have been fixed a few minutes ago in #247. Go ahead and `pip install git+https://github.com/fidelram/deepTools.git --user --upgrade` and let me know if the problem persists.

[2016-01-28 13:59] dpryan79 commented on #248
It looks like correctGCBias is also adding invalid auxiliary tags (`CO:i` and `GC:f`) and misusing some legit ones (`CP:i`). This should be corrected at the same time.

[2016-01-28 16:50] lelouar commented on #250
The problem seems to be fixed ;)

But an other issue that haven't seen before are appeared with the use of plotProfile :

cmd:
plotProfile \
--matrixFile Sample_25.mt.TSS.matrix.gz \
--outFileName Sample_25.mt.TSS.profile.png \
--plotHeight 5 \
--plotWidth 8 \
--refPointLabel TSS \
--plotTitle 'mt around TSS: H3K4me3_AN'

error:
Traceback (most recent call last):
  File "/mnt/data1/raoul.raffel/co

[2016-01-28 18:59] rpantier commented on #208
The "save the underlying data" output option disappeared from plotProfile in Galaxy (DeepTools 2.0) compared to the original Profiler. Is it normal? (it doesn't appear on the documentation neither: http://deeptools.readthedocs.org/en/latest/content/tools/plotProfile.html)
Thanks!

[2016-01-28 19:45] dpryan79 commented on #208
@rpantier That's normal, the feature was removed since it wasn't currently doing anything. See also #231

[2016-01-28 19:50] dpryan79 commented on #208
@rpantier: BTW, since you found the test Galaxy instance I should warn you that it'll go away soon (I announced on the list that I'm upgrading the public deepTools Galaxy server tomorrow morning, at which point the instances will be identical). Since you have some datasets loaded I'll try to ensure that the test server stays up for another week, though :)

[2016-01-28 20:01] dpryan79 commented on #250
@lelouar Thanks, that appears to be a matplotlib issue. It might be the case that you have a couple different copies of matplotlib getting used at once (don't ask me how that could happen...weird things happen sometimes). I would recommend removing matplotlib, checking `~/.local/lib/python2.7/site-packages` to ensure there are no remnant matplotlib files, and then reinstalling it. For some reason,

[2016-01-28 20:25] rpantier commented on #208
@dpryan79 Thanks for your quick reply (I will move my data tomorrow). I was hoping to use the "underlying data" table from the Profiler to calculate PolII traveling ratios.

[2016-01-28 20:31] dpryan79 commented on #208
@rpantier Sounds reasonable. Regarding the text files from plotProfile et al., the squeaky wheel does tend to get the grease and you're not alone in asking for this ;p

[2016-01-29 11:26] fidelram commented on #231
plotProfiles can now save the data.

[2016-01-29 13:25] dpryan79 commented on #208
deeptools.ie-freiburg.mpg.de has now been upgraded :)

Many thanks to @bgruening for the last minute galaxy toolshed updates!

@bgruening: Upgrading the docker images is indeed quite simple. I should note that for whatever reason, the DB migration script tossed a really nasty error message on the last DB version migration step (130->131, I think and it was complaining about trying to create a tabl

[2016-01-29 13:43] bgruening commented on #208
@dpryan79 do you have the error report? But if it does work ... :) Great!
Let me know if there is anything complicated that we should document in the Docker project.

[2016-01-29 14:51] dpryan79 commented on #208
@bgruening Not anymore, but I have a database dump, so I'll see if I can reproduce it on a different server. If I can I'll create a galaxy issue.

[2016-01-29 15:30] lelouar opened #256 "Jbrowse are not able to open bigwig from bamCoverage 2.0.1"
Hi,

the new version of bamCoverage make bigwig that can't be oppened by Jbrowse. I try to use bigWigToBedGraph and BedGraphToBigWig from ucsc tools and open the new bigwig. And is oppenable with Jbrowse. I really don't know why. I have uploaded the two test file on my deeptools.galaxy instance to allow you to check the file and the differences. I subset the bigwig to just have the region 1:10000:

[2016-01-29 17:37] dpryan79 commented on #256
Presumably Jbrowse relies on some peculiarity on UCSC produced bigWig files. I'll have a look.

[2016-01-30 23:12] friedue opened #258 "change default width of profiler plots in Galaxy"
I propose to change the default width of plotProfile plots (and heat maps, while we're at it) to **11 cm**. The current default width often leads to clashing labels. (Yes, I know, this depends on the regions that are chosen, however, it is consistently annoying me and I think the regions I am choosing are not completely unrepresentative.)
I can provide example plots if needed, but I find 11 cm for

[2016-01-31 12:52] dpryan79 commented on #248
This should be fixed by #253

[2016-01-31 12:52] #248 closed

[2016-01-31 19:30] dpryan79 commented on #256
I just tried two of our test files and Jbrowse didn't have any issues with them. Perhaps you can send me some files that don't work. Otherwise I won't be able to track down the issue you're running into. I should note that I just used the version on the jbrowse.org home page. I supplied it with two of the test files from our public Galaxy instance and a multifasta file with chromosomes 19 and X fr

[2016-01-31 19:41] dpryan79 commented on #256
Nevermind, I was just able to reproduce the issue.

[2016-01-31 20:47] lelouar commented on #256
have you seen my uploaded files on deeptools.ie-freiburg.mpg.de ? my acount is raoul.raffel AT igh.cnrs.fr

[2016-01-31 21:15] fidelram commented on #258
The PR #260 changes the default values. We need to wait for @bgruening for green light.

[2016-02-01 08:47] bgruening commented on #258
I like it!

[2016-02-01 09:16] dpryan79 commented on #256
I don't make a habit of looking at user's histories :)

Thanks for uploading those files, I'm having a look. My guess is that this is a JBrowse bug, since the other browsers work, but perhaps I have a remaining issue in libBigWig.

[2016-02-01 09:53] lelouar commented on #256
I check the two file with biodalliance genome browser (http://www.biodalliance.org/) and the issue was the same. But it may be possible that the two genome browser use the same javascript library. I will check others new browser based on html5 and javascript library to see if one of them can use the two bigwig files.

[2016-02-01 16:16] friedue opened #264 "allow the user to choose the linkage function"
for hierarchical clustering, e.g. for ``plotCorrelation``

[2016-02-01 22:02] dpryan79 commented on #256
I found the source of this. Jbrowse (and biodalliance, since they share code) assumes that the bigWig summary information, if present, is within the first 512 bytes of the file. This happens to be the case for files made by UCSC, but may or may not be for those made by anything else. I suppose I could change the order of the sections in libBigWig, but this is really a bug in these browsers. I woul

[2016-02-01 22:09] dpryan79 commented on #256
On second thought, this is such a trivial thing to change and I fully suspect that this javascript is heavily copy/pasted into other browser that I'll be forever filing bug reports if I don't just modify libBigWig. I'll just do that real quick.

[2016-02-01 22:34] dpryan79 commented on #256
There's now a `libBigWig-0.1.4` branch of pyBigWig. I did a quick test and Jbrowse is now perfectly happy with newly produced files. If you're using the command line version of deepTools, try `pip install git+https://github.com/dpryan79/pyBigWig.git@libBigWig-0.1.4 --user`, which will upgrade pyBigWig to use this. Reopen this or post an issue on the pyBigWig page if that doesn't solve the issue fo

[2016-02-01 22:34] #256 closed

[2016-02-01 22:35] dpryan79 commented on #256
BTW, I'll make a new pyBigWig release after sufficient testing. The Galaxy tool will get updated sometime thereafter.

[2016-02-02 17:11] friedue opened #269 "plotCoverage in Galaxy currently _requires_ more than 1 BAM files as input"
![screen shot 2016-02-02 at 12 12 04 pm](https://cloud.githubusercontent.com/assets/4973546/12757478/33a6a83a-c9a6-11e5-8988-f98791bb2ef3.png)
I don't think that's a meaningful requirement. Currently it simply fails when less than 2 BAM files are selected.

[2016-02-02 19:59] dpryan79 commented on #258
I merged #260 in, so this should be done now.

[2016-02-02 19:59] #258 closed

[2016-02-03 20:16] dpryan79 commented on #269
The input macro that this uses is shared with multiBamSummary and plotFingerprint. We explicitly don't want to allow single BAM input into multiBamSummary, so it would need to be modified accordingly.

[2016-02-04 12:01] scholtalbers commented on #86
Not sure if this is the right place, but I'm running bamCorrelate in Galaxy and would like to get the 1.6 update that apparently resolves this issue. Is there an updated wrapper that includes this in the toolshed? - if so, which one?

[2016-02-04 12:03] dpryan79 commented on #86
@scholtalbers The most recent version of deeptools (2.0.1) is available in the toolshed. You can see it in action on our public Galaxy server (http://deeptools.ie-freiburg.mpg.de).

[2016-02-04 12:23] scholtalbers commented on #86
@dpryan79 I guess I can just install the 2.0.1 version. However, if I'm correct the installation instructions still point to the old 1.5.11, i.e. http://deeptools.readthedocs.org/en/latest/content/installation.html points to https://toolshed.g2.bx.psu.edu/view/bgruening/deeptools/7889d260cc37 .
For 2.0.1 I see wrappers per tool, but no suite that has them all. Should I thus install each tool separ

[2016-02-04 12:34] dpryan79 commented on #86
It's called "suite_deeptools".

[2016-02-04 12:50] scholtalbers commented on #86
right...should have found that one. Thanks! :blush:

[2016-02-04 13:09] dpryan79 commented on #86
The documentation will get updated on our next branch merging, so probably today/tomorrow

[2016-02-04 20:29] #217 closed

[2016-02-07 20:29] dpryan79 opened #275 "bamCoverage ignores scaling factor"
It looks like the Galaxy wrapper doesn't bother to pass on the scaling factor to `bamCoverage`, seemingly due to copy and pasting code from the `bamCompare` wrapper.

[2016-02-08 09:46] steffenheyne opened #278 "generalize handling of group information in BED files used by computeMatrix/plotProfile/plotHeatmap"
Currently deepTools encodes group/cluster information in BED files with an additional line after each group with the format: "#\<GROUP_NAME\>".

Group information is used to split up heatmaps (e.g. after clustering) or to summarize scores in different ways e.g. plotProfile.

This approach is working well in deeptools, but not really inline with the BED file format (or any column based format) and

[2016-02-08 10:51] dpryan79 commented on #278
I would be very hesitant to try automatic column group column detection. Since any number of columns in [3, 12] can be used in BED files, people are going to come up with creative an unintuitive ways to do this. If we're going to play around with this, then I would suggest just tacking the group on as an additional column. We then need to make clear that this is a BED-like format, which we should

[2016-02-08 12:22] #275 closed

[2016-02-08 13:39] dpryan79 commented on #137
There's no good way to do this. How this works is that the genome is divided into chunks based on the number of processors and files being used with a max of 100kb (as @vivekbhr said), but then only the reads in or spanning the first 50kb are used for the stats. The number of reads sampled is whatever this happens to be...so with the identical settings it'll end up varying by file.

I imagine that

[2016-02-08 13:45] fidelram commented on #137
For other tools (e.g multiBamSummary) we use the distance between bins as a way to determine the number of samples and the bin size. We can simply use the same set of parameter.

[2016-02-08 13:47] dpryan79 commented on #137
That'd work too

[2016-02-08 14:32] dpryan79 commented on #137
Have a look at #279, which is still a bit of a work in progress. I just made things similar to multiB*Summary. A bit of testing suggests similar number of reads sampled. Note that this will obviously affect every tool that uses fragment length estimates.

[2016-02-08 22:26] friedue commented on #278
I agree. It should be called INTERVALL format instead of BED. And including all the columns of the user's original file in the output would be great.

[2016-02-09 08:01] fidelram commented on #278
I advocate for the use of GTF (http://www.ensembl.org/info/website/upload/gff.html). The format is quite specific and has a field to define the groups that we want.

Deeptools, anyway, should be modified to accept GTF/GFF files (as many other programs do, including BEDtools). However, the output of sorted regions should be GTF to properly enconde the group id.

Do you foresee any problem with this

[2016-02-09 08:50] steffenheyne commented on #278
You would solely use GTF/GFF or in addition to some BED/interval-like file? Or only to provide special features to deeptools like the exon/intron encoding?

I think we should also support BED-12 files for the exon/intron encoding, here GTF is possible as well, but this gets all bit ugly for the user, or?

For me the "beauty" of bed/interval-like files are that there is 1 interval per line, no join

[2016-02-09 08:51] dpryan79 commented on #278
@steffenheyne There's no way we could drop BED support!

[2016-02-09 08:54] steffenheyne commented on #278
ok, inline with my thinking...

[2016-02-09 09:06] kilpert commented on #278
I prefer the BED format, as it is much easier to handle on the command line in comparison to most other formats. However, the implementation of the current BED output should be improved:

1) All columns of the input file should remain in the output file, always.
2) The output file should have a header line (which is already part of the BED standard, starting with e.g.  '#'). Header lines are great

[2016-02-09 09:14] fidelram commented on #278
The idea is to support BED and GFF/GTF, but the output with clusters is only GFF. It could look like this:

[code]

[2016-02-09 09:20] kilpert commented on #278
Example for BED file with header:

Input:

1	11868	14409	ENST00000456328	0	+	14409	14409	0	3	359,109,1189,	0,744,1352,
1	12009	13670	ENST00000450305	0	+	13670	13670	0	6	48,49,85,78,154,218,	0,169,603,965,1211,1443,

Output:

# chrom	chromStart	chromEnd	4	5	6	7	8	9	10	11	12	deepTools_cluster
1	11868	14409	ENST00000456328	0	+	14409	14409	0	3	359,109,1189,	0,744,1352,	1
1	12009	13670	ENST00000450305

[2016-02-09 09:30] steffenheyne commented on #278
@fidelram What would you do with all the other columns maybe provided by the user in the bed-like file? You would encode all these as attributes like this?

chr1 deepTools  interval          380   401   .   +   .  col4=001; col5=0,col6="+",col7="myfeature";group_name=cluster_1;

not doing this would mean just another file which has to be joint/intersected afterwards to get the group-id to the inpu

[2016-02-09 09:31] dpryan79 commented on #278
There's a nice mapping between BED12 and GFF, so that takes care of itself.

[2016-02-09 09:39] kilpert commented on #278
I am also fine with GTF/GFF. But I recommend to handle BED as described in my comments. GTF/GFF would be nice to have in addition.

[2016-02-09 09:47] dpryan79 commented on #137
#279 is ready to go if anyone has any last comments.

[2016-02-09 09:52] asrichter commented on #137
Is the fragment size estimation actually spliced-read-aware, i.e. can it handle RNA-seq data?

[2016-02-09 10:00] dpryan79 commented on #137
Jein. It's perfectly happy with spliced reads, but they slightly inflate the estimate. For this reason, you'll find that the median is more useful than the mean.

[2016-02-09 10:01] dpryan79 commented on #137
I should note that I test this on our RNAseq dataset.

[2016-02-09 10:02] asrichter commented on #137
So does this mean that the size of the insertion, e.g. the intron, is included in the fragment size estimate?

[2016-02-09 10:03] dpryan79 commented on #137
Yes, this is true for all tools that use a fragment size within deeptools. Again, either just use the median or I suppose we could filter out spliced reads.

[2016-02-09 10:16] steffenheyne commented on #137
split reads are not the problematic ones, I think, only those reads where eg. the end of R1 and start of R2 are on different exons. Here the actual transcript length in between counts and not the "genomic" distance including the intron....or?

[2016-02-09 10:17] dpryan79 commented on #137
True, though again one just uses the median then.

[2016-02-09 10:21] asrichter commented on #137
Ah, Steffen is right. Both reads (split-reads) and fragments spanning multiple exons are problematic
Then we should generally use the median and not the mean for all deepTools fragment size estimates, right? Is this already the case?

[2016-02-09 10:21] steffenheyne commented on #137
...and there is no way to identify such reads from the bam file only, isn't it?

[2016-02-09 10:23] dpryan79 commented on #137
Correct, I'll check whether we're using mean or median. No, there's no way to reliably filter them out, since inevitably someone will use mate-pairs as input at some point.

[2016-02-09 10:23] asrichter commented on #137
I don't think so, you have to map to the transcriptome then.

[2016-02-09 10:40] dpryan79 commented on #101
I'm working on some code for this now. A question arises about exactly how to deal with this. The simplest way to do this is (1) to just ignore any genomic chunk that happens to overlap a blacklisted region. Alternatively, (2) one could attempt to trim the bounds of a genomic chunk such that it no longer overlaps. That's possible, though explaining how that works and handling all of the edge cases

[2016-02-09 10:42] fidelram commented on #137
As @steffenheyne said,  filtering spliced reads will not solve the problem for RNAseq data because PE pairs can lie in different exon.

However, I would say that PE fragment length should not be used for RNA-seq data. The computation of the distance is only done when read extension is required and the data is PE.

[2016-02-09 10:48] dpryan79 commented on #137
@fidelram: It's convenient to get the insert size, at which point the median is a good enough metric already.

@asrichter I checked and we already only ever use the median for things.

If there aren't any other issues then I'll go ahead and merge and close this.

[2016-02-09 10:54] asrichter commented on #137
Fine for me.

[2016-02-09 10:56] asrichter commented on #101
I think filtering out any fragments (not only reads) overlapping with blacklisted regions is fine.
Trimming could cause some trouble in downstream analyses.

Adding a blacklist option that accepts a BED file seems totally sufficient to me.

[2016-02-09 11:03] dpryan79 commented on #101
Looking at fragments would seriously decrease performance. I suppose that this could be done, but I'll start with filtering chunks and we'll see if that suffices and only try to ignore entire fragments if absolutely needed.

[2016-02-09 11:07] asrichter commented on #101
Ok. I prefer filtering for fragments when writing BAM files as otherwise SAM flags have to be fixed for singletons (read paired has to be unset). This however requires resource-intensive sorting be read name.
For deepTools, read filtering should be fine unless one also filters for SAM flags at the same time.

[2016-02-09 11:13] #137 closed

[2016-02-09 12:01] steffenheyne commented on #101
Filtering fragments was also my initial thought, but if it is much easier/faster filtering out the genomic chunks I think it is ok this way. We can see how it "behaves" and then improve later on...

One thing: should we also adjust some scaling factors like the effective genome size? I mean a 1kb region doesn't matter, but if the blacklist appears to be some Mb then it might be substantial....

[2016-02-09 12:05] dpryan79 commented on #101
If the blacklisted region is really large then the user will need to adjust the effective genome size for the tools that require it (this is the case for anything in deepTools that uses an effective genome size and also allows restricting of the computation to a particular region). At the moment, the black list wouldn't normally affect things like normalization unless you use a method that actuall

[2016-02-09 13:40] dpryan79 opened #280 "plotHeatmap with hierarchal clustering shouldn't die on fewer clusters"
Currently, if the --hclust option is used an one cluster gets no members then the BED file is written but plotHeatmap then completely fails. This failure to create the plot should be fixed. plotProfile seems to be OK with this, strangely.

Additionally, we need to add a bigger warning to the galaxy wrapper about this option.

[2016-02-09 14:06] dpryan79 commented on #280
I would suggest pushing the next release after this is solved.

[2016-02-09 14:37] fidelram commented on #280
Probably it fails in the plotHeatmap because there is a constraint for the minimal numbers of elements in the cluster. This check is not in plotProfile. Without this check, small clusters trigger an exception in matplotlib because they are too small to plot.

[2016-02-09 14:57] vivekbhr commented on #280
@fidelram yah that's the reason, since i can get a (bit uglier) plot when I turn it off.. So another alternative could be to remove this check and replace with a warning for the user to remove the small regions. But if this causes matplotlib to fail on certain occasions then we can remove the region and plot.

[2016-02-09 15:02] vivekbhr commented on #264
@friedue I tested with all linkage methods and found insignificant differences between the clusters (1 out of thousands of regions here and there..). Do you think it's important?

[2016-02-10 03:01] friedue commented on #264
depends on how difficult it is to implement. it's not a high priority fix.

[2016-02-10 13:07] dpryan79 commented on #101
computeGCBias already has a `--filterOut` option that does that. Would people prefer that that be renamed to match every other tool (I'm currently calling the option `--blackListFile`), to rename the option in all of the other tools to match, or not worry about the difference? I'd generally prefer that the commands all have identical options when they're doing essentially the same thing.

[2016-02-10 13:26] steffenheyne commented on #278
so my understanding of a summary would be:

1) GTF/GFF is nice to have, but not necessary yet, and we adapt deeptool's interval file format to our needs

2.) We call the input/output formats of tables etc rather "interval" than BED

3.) to be compatible with BED, we should enforce the first 6 columns in deeptools: chr/start/end/name/score/strand; otherwise we get problems with the strand info, whi

[2016-02-10 13:34] steffenheyne commented on #101
I'd also prefer to have everywhere the same option...
maybe even more inline with some other existing options would be
--blacklistRegionsFileName or
--blacklistRegionsFile or
--blacklistFileName

:-) ...but it's not so improtant...

[2016-02-10 13:41] dpryan79 commented on #101
Maybe `--blacklistFileName` then.

[2016-02-10 15:11] steffenheyne commented on #101
great

[2016-02-11 08:40] #280 closed

[2016-02-11 13:42] vivekbhr commented on #264
Not difficult. Just will create an additional input parameter (something like --hclust-linkage)

[2016-02-11 13:47] friedue commented on #264
we can also put it on hold until someone needs it

[2016-02-11 13:50] dpryan79 commented on #264
I would recommend waiting until someone really really needs it. We have way too many options already.

[2016-02-11 15:13] dpryan79 commented on #101
If someone has a file with really obvious enrichment in blacklisted regions I'd appreciate a copy. I now have this working in at least some of the tools (e.g., `bamCoverage`).

[2016-02-15 12:45] steffenheyne commented on #101
So Devon implemented a blacklist filtering and here is an example how this would look like

![igv_snapshot](https://cloud.githubusercontent.com/assets/10652658/13048734/40dc9c34-d3e8-11e5-8a46-fbdfac855f92.png)

The top track is the original track from a bam file. The light green track is from  bamCoverage with the blacklistFileName option. The red track is how a track would look like after filter

[2016-02-15 12:59] fidelram commented on #101
@steffenheyne Do you know how bamutils works? why we don't see a 'whole' as in the bamCoverage case?

[2016-02-15 13:04] dpryan79 commented on #101
Thanks for testing this! The results will generally be a bit better if the blacklisted regions are widened slightly (one could do this automatically, but I'd prefer to avoid that).

This generally works by taking each genomic chunk that would have been queried and subtracting out the blacklisted regions. For scaling factors, the normal read count from the BAM index is taken and then the number of

[2016-02-15 13:06] steffenheyne commented on #101
@fidelram Ah yes, I didn't use the option "--skipNonCoveredRegions" for any of the tracks, so then probably this is how Devon implemented the blacklisted region encoding...and this is probably always NA no matter if  "--skipNonCoveredRegions" was used or not...

Should this be changed? Mhmmm

[2016-02-15 13:14] dpryan79 commented on #101
Yes, you'll get NAs for blacklisted regions, which is the only sane way to do it. I won't implement different method than that. It's likely that there's no gap in the bamUtils preprocessed data due to read extension. Read extension would still occur with blacklists, but extensions into a blacklisted region would be ignored (this is a good thing).

[2016-02-15 13:18] steffenheyne commented on #101
yes, all right, but couldn't we simply change the NAs when writing the bigwig!?

[2016-02-15 13:19] dpryan79 commented on #101
No

[2016-02-15 13:19] dpryan79 commented on #101
NAs aren't written, nothing is written, which is the correct way to do it.

[2016-02-15 13:39] dpryan79 commented on #183
I have a PR ready that does this. It generally works OK, though there seems to be a race condition for access to the sqlite database causing things to randomly fail due to Galaxy not being able to get a lock (I don't know of a way to get around this).

Nonetheless, this seems to work well enough, we just need to rerun a failed test on occasion...which is better than no testing at all.

[2016-02-15 13:42] dpryan79 commented on #278
XREF #76, which this is largely a duplicate of.

[2016-02-15 13:50] dpryan79 commented on #264
Let's close and reopen if someone explicitly requests the feature and can make a compelling case.

[2016-02-15 13:50] #264 closed

[2016-02-15 14:53] #183 closed

[2016-02-15 15:02] #269 closed

[2016-02-15 15:06] bgruening commented on #183
Great work @dpryan79!

[2016-02-16 08:23] dpryan79 opened #288 "Comment lines at the beginning of BED files are incorrectly interpreted as group labels"
If a BED file starts with a "#", that line is interpreted as a group label and computeMatrix will fail, since the number of labels won't match the number of groups.

[2016-02-16 10:02] dpryan79 commented on #288
Since I'm fixing this anyway, I'll also fix the following cases:

1. "#" lines in the middle of a file with no associated entries cause an error
2. Having label (#) lines in the middle, but then not at the end of a file, causes an error

These are easy enough to fix in heatmapper.py

[2016-02-16 13:59] #288 closed

[2016-02-16 15:02] dpryan79 commented on #231
Have a look at PR #289 and let me know if the text output suffices (it's easiest to just look at the changed file, since I have an example output in a Galaxy wrapper test).

[2016-02-17 15:03] dpryan79 commented on #108
I've started adding the code needed for this in this PR #294

At the moment things seem to mostly work, but this could use some testing. I've not yet tested writing text output from plotProfile/plotHeatmap with this, though presumably that works. I've also not ensured that the values are actually correct yet (i.e., we need an automated test for this). Having said that, have a look and feel free to

[2016-02-18 13:53] dpryan79 commented on #108
That PR now works properly, both with computeMatrix and plotProfile/plotHeatmap. The only thing left to do is add this to the Galaxy wrapper.

[2016-02-19 14:13] dpryan79 commented on #80
This is now implemented in `develop` and will appear in the version 2.2.0.

[2016-02-19 14:13] #80 closed

[2016-02-19 14:25] dpryan79 commented on #101
If there's  no other feedback on this by Wednesday I'll merge that branch into `develop` and close this.

[2016-02-23 17:10] dariober opened #299 "computeMatrix --outFileNameData in version 2.0"
Hello,

In deepTools version 1.5.x `computeMatrix` used to have the output option `--outFileNameData` which I found useful to make my own profile plots. Is there a replacement in version 2.0.x or later? Or the averages should be calculated offline from the matrix file?

This was the help related to `--outFileNameData`

[code]

Thank you!
Dario

[2016-02-23 23:46] dpryan79 commented on #299
You have a couple options. While you could certainly calculate averages offline, it's probably more convenient to use the same option in `plotProfile`. Then the averages are already computed. Alternatively, in the next release this option will be available in `plotHeatmap`, though realistically speaking you could already use the `--outFileNameMatrix`option with `plotHeatmap`. Let me know if those

[2016-02-24 07:59] fidelram opened #301 "plotHeatmap --pergroup has wrong X labelling"
See the x axis of the following link for an example of the problem:

https://www.dropbox.com/s/wlfl0fe6y50e0bz/Galaxy674-%5BplotHeatmap_image%5D.pdf?dl=0

[2016-02-24 08:31] dpryan79 commented on #101
This is now merged in for the 2.2 release.

[2016-02-24 08:31] #101 closed

[2016-02-24 09:15] lelouar commented on #108
wow it's a very good news. thx a lot

[2016-02-24 14:55] friedue commented on #278
For Galaxy users, GFF files are rather painful because of the differing field separators, INTERVAL would be much preferred there. For example, just getting the simple information about how many clusters there are in the output is easy with an INTERVAL file, while the GFF file would require more wrestling.
That being said, the current implementation with generating a non-standard BED file does not

[2016-02-24 19:06] dpryan79 commented on #108
This is now merged. I wouldn't be surprised if the next version is out within a week.

[2016-02-24 19:06] #108 closed

[2016-02-24 22:56] lelouar commented on #278
maybe an other file with 2 column with only name and cluster Id will solve this issue. If the bed file have only 3 col then you can join them and add cluster ID.

[2016-02-24 23:59] dpryan79 commented on #231
This is now fixed for the next release. Closing.

[2016-02-24 23:59] #231 closed

[2016-02-25 00:00] dpryan79 commented on #299
I'll close this for now. Feel free to reopen if what I mentioned above doesn't suffice.

[2016-02-25 00:00] #299 closed

[2016-02-25 00:08] dpryan79 commented on #109
Maybe we should talk about this when I'm back in the office on Friday. I was playing around with this and more or less implemented all of it. However, the colorbar becomes an issue. We basically need to start adding color bars for each plot, likely below the heatmap like in the example. Then the question arises as to whether to always put the color bar down there, to always put it under each sampl

[2016-02-25 01:34] friedue commented on #109
I don't completely get the point of why one would need to generate multiple plots with vastly differing scales in one go?
one could simply run computeMatrix/plotHeatmap on the samples individually...the only reason why one would opt for the all-at-once-option is because of the clustering, but that should be done with caution anyway if the samples have very different ranges. most likely, the cluste

[2016-02-25 09:13] dariober commented on #299
Thank you Devon, sorry I forgot to reply earlier!

[2016-02-26 10:53] LouATK opened #305 "MultiBamSummary error message"
Hi,

I have tried to run  MultiBamSummary with 6 Bam files but returned this error message:

toolshed.g2.bx.psu.edu/repos/bgruening/deeptools_multi_bam_summary/deeptools_multi_bam_summary/2.1.0.0	slurm	17153
Remote Host
143.117.233.133
Command Line
ln -s "/home/galaxy/galaxy-dist/database/files/037/dataset_37576.dat" "./0.bam" && ln -s "/home/galaxy/galaxy-dist/database/files/_metadata_files/006/m

[2016-02-26 11:07] dpryan79 commented on #305
Can you decrease the bin size to 5000 (or 1000, if that doesn't work) and see if that solves the problem? This should be the "Bin size in bp" option.

[2016-02-26 11:27] LouATK commented on #305
Thanks @dpryan79 it is running now and encouragingly hasn't popped up an error message yet.

[2016-02-26 11:54] dpryan79 commented on #305
That's something at least :)

Let me know whether it throws an error or not and I'll close the issue accordingly.

[2016-02-26 13:12] #301 closed

[2016-02-26 13:14] fidelram commented on #305
That error is caused by small scaffolds. Before running, the program checks that it can find at least n sampling points where n is the number of chromosomes. This was not thought for assemblies with large numbers of scaffolds.

[2016-02-26 13:47] LouATK commented on #305
Tool ran perfectly at 5000, thanks again @dpryan and @fidelram.

[2016-02-26 13:49] #305 closed

[2016-02-26 13:49] dpryan79 commented on #305
Great, thanks for reporting back!

[2016-03-01 16:44] vivekbhr commented on #208
I found 11 open issues, so I am closing this to round that number.. :+1:

Also because release 2.2 is out today..

[2016-03-01 16:44] #208 closed

[2016-03-02 04:09] apastore opened #307 "BamCoverage and RNA-seq generate bw with signs coming from split reads over introns"
I am using deeptools on chip-sew data for some time and it is a great tool!
Now I would like to generate a bw for RNA-seq data alligned with tophat2. I have notice that the coverage plot retain the intron region (and I guess this is due to split reads over the exon junction).

Could you suggest a way to get nicer bw files without coverage on intron form split reads?
Thanks!

[2016-03-02 04:28] friedue commented on #307
Hi,
if you update to the latest deepTools version, split reads should be handled fine.

[2016-03-02 08:16] dpryan79 commented on #307
A word of advice, don't use the `--extendReads` option with spliced datasets, that'll also result in aberrant coverage of introns.

[2016-03-02 08:16] #307 closed

[2016-03-02 08:18] dpryan79 commented on #61
We should just document this and close the issue. Given blacklist regions, RNAseq datasets, and soon supporting GTF/BED12, getting all of the alignments that overlap a region after extension is often not desirable (not to mention that doing so makes everything single threaded per chromosome).

[2016-03-02 08:20] fidelram commented on #61
Besides we are not extending reads by default any longer which alleviates this problem.

[2016-03-02 08:20] #61 closed

[2016-03-02 09:22] dpryan79 commented on #112
The code for this is essentially done, I'm just testing it now. Currently, the heatmap and colorbar can be affected with the `--alpha` parameter but the profile isn't touched. I suppose that that could be modified as well if really needed.

[2016-03-02 09:58] dpryan79 commented on #112
This has been tested and merged in and will appear in the 2.3 release.

[2016-03-02 09:58] #112 closed

[2016-03-02 11:58] dpryan79 commented on #100
There's no reason to expect a median of 1, regardless of the bin size, even in input samples. That modifying the bin size results in different values is (A) not a suprise and (B) not a problem since everyone should always use the same bin size when doing comparisons.

[2016-03-02 11:58] #100 closed

[2016-03-02 12:29] apastore commented on #307
Thanks i will do!
I am still on 1.5. Does update change the way how the coverage is computed (just wondering I I have to rerun all chip-seq sample or if I could use a mix of deeptools 1.5 and 2 for chip seq)
Any advice?
Best

[2016-03-02 12:32] dpryan79 commented on #307
The biggest difference is that read extension isn't done automatically in 2.0, but was in 1.5. It should be safe to just redo the RNAseq coverage (to be safe, you might rerun one ChIPseq file and double check that you get very very similar results, e.g., with `plotCorrelation`).

[2016-03-02 13:08] apastore commented on #307
Thanks ! That was really helpful!

Sent from my iPhone

[2016-03-02 15:19] dpryan79 commented on #78
This will now appear in the 2.3 release. There, one can use `--ratio first` or `--ratio second` to have the scaled signal from the first or second file output.

[2016-03-02 15:19] #78 closed

[2016-03-03 09:22] fidelram opened #309 "normalization based on total mapping does not consider filtered reads"
When `--normalizeTo1x` or `-normalizeUsingRPKM` are used the scaling factor is based on the total number of reads. However, if some filterings are used like mapping quality or strand, then the scaling factor is no longer accurate.

[2016-03-03 20:36] apastore opened #310 "bioconda recipe version 2.2.0 still install computeMatrix 2.1.0"
I have installed deeptools 2.2.0 with biconda but I still get computeMatrix 2.1.0

Thanks!

conda install deeptools=2.2.0 -f
/Users/alessandro/miniconda2/lib/python2.7/site-packages/clyent/__init__.py:10: UserWarning: Module _yaml was already imported from /Users/alessandro/miniconda2/lib/python2.7/site-packages/_yaml.so, but /usr/local/lib/python2.7/site-packages is being added to sys.path
  from

[2016-03-03 20:51] dpryan79 commented on #310
It's likely that the version number is just wrong (I really dislike how we have this implemented). If you run `computeMatrix --help` do you see an option like `--unscaled5prime`? If so, then you have version 2.2 and the version string is just wrong.

[2016-03-03 20:54] apastore commented on #310
No, This was exactly where I realized there are something wrong with the recipe … I just download and install from github and it run with the unscaled parameter.

By the way which is the best way to set the unscaled5prime , unscaled3prime regionBodyLength to make a plot similar to the gene body option in neg.plot? I use a bed file generate from UCSC genePred

Thanks!

[2016-03-03 21:01] dpryan79 commented on #310
Hmm, that means that the file is wrong on pypi. I'll investigate that.

I've never used ngs.plot, so I can't comment on the remainder.

[2016-03-03 21:02] apastore commented on #310
Thanks!

[2016-03-03 21:27] dpryan79 commented on #310
For some reason your shell is still getting the old version rather than the newer one you have installed. I just created a clean miniconda environment and ran `conda install -c bioconda deeptools` and this is what I get:

    ryan@pc331:~$ which computeMatrix
    /home/ryan/miniconda2/bin/computeMatrix
    ryan@pc331:~$ computeMatrix --version
    computeMatrix 2.2.0
    ryan@pc331:~$ computeMatri

[2016-03-03 21:27] #310 closed

[2016-03-04 09:04] fidelram commented on #310
Check that you don't have PYTHONPATH set. Most of the issues reported in
the mailing list similar to this are due to incorrect PYTHONPATH.

-fidel

On Thu, Mar 3, 2016 at 10:27 PM, Devon Ryan <notifications@github.com>
wrote:

--

Fidel Ramirez

[2016-03-07 10:30] dpryan79 opened #312 "blacklist handling leads to slightly inflated scores"
When a blacklist is specified, the number of alignments associated with a BAM file is adjusted such that reads overlapping a blacklist are subtracted from the total number reported in the index. While this is quick and easy, only alignments completely contained within a blacklist regions are actually excluded. This exclusion is fine, but the alignment number correction should really only include t

[2016-03-07 10:34] dpryan79 commented on #312
My working fix for this is in the same branch as that for #309

[2016-03-08 10:24] dpryan79 commented on #309
This should now be handled correctly in `develop`, closing.

[2016-03-08 10:24] #309 closed

[2016-03-08 10:25] dpryan79 commented on #312
This should now be implemented in `develop`, closing.

[2016-03-08 10:25] #312 closed

[2016-03-09 10:50] dpryan79 commented on #76
It turns out that a side-effect of implementing this (I'm working on it and #71 now) will be to largely get rid of bx-python. That'll then make #237 easier :)

[2016-03-11 15:00] lelouar opened #316 "use several flagFilter in bamCoverage"
Hi,

Is it possible to implement the use of several filter based on flag ?

For example when we have paired-end data, we can imagine that we only need proper pairs. In that case we have to use several time samtools with -f 99, -f 147, -f 83 and -f 163, right ?

So if we can do this directly with deeptools it could be easier to processe paired-end data (and maybe a faster way to do this).

Once aga

[2016-03-11 15:08] dpryan79 commented on #316
If you just want proper pairs then `-f 2` will work.

[2016-03-11 22:28] lelouar commented on #316
yes I agree but I am reading a paper that use these 4 filter to keep only proper pair so I wondering if I missed something. Thx for the reply, I will investigate further and send a mail to the authors to better understand why they use this. This issue is maybe uninteresting. Sorry if it 's the case. thx

[2016-03-14 15:38] fidelram commented on #316
For the case of filtering PE RNA-seq data by strand, complicated rules to
keep and skip flags  are necessary. That's why we added the
--filterRNAstrand option. However, in our documentation is an example on
how to do those complex flag queries:
http://deeptools.readthedocs.org/en/latest/content/tools/bamCoverage.html#separate-tracks-for-each-strand

fidel

On Fri, Mar 11, 2016 at 11:28 PM, lelouar

[2016-03-15 09:16] avilella opened #317 "computeMatrix using more than 100% CPU"
Hi, I am getting complaints from my sysadmin that when I run computeMatrix on a submitted job to the cluster, it uses more than 100% of 1 CPU.

Is there a way to restrict the CPU usage of computeMatrix?

I am using:
[code]

[2016-03-15 09:27] dpryan79 commented on #317
You have two options. Firstly, you could use `-p 1` to tell it to only use a single core. Alternatively, if you want everything to be single-threaded then you can edit the config file. This file should be `$HOME/.local/lib/python2.7/site-packages/deeptools/config/deeptools.cfg`. If you change:

    default_proc_number: max/2

to

    default_proc_number: 1

then everything should be single threade

[2016-03-15 09:27] #317 closed

[2016-03-15 09:33] dpryan79 commented on #316
I'm going to close this for now. If someone comes up with a really compelling use case then we could easily enough implement this, though. I would generally caution people from going too crazy with inclusion/exclusion flags, it's a good way to throw out perfectly good data.

[2016-03-15 09:33] #316 closed

[2016-03-15 11:04] avilella opened #318 "fragmentLength equivalent in recent bamCoverage version?"
Hi,

I used to run bamCoverage like so:

[code]
what is the equivalent command for a recent version like 2.2.2-3?

[2016-03-15 11:18] fidelram commented on #318
just remove --fragmentLength 1 and you will get the same output as before.
DeepTools2, by default does not do read extension.

-fidel

On Tue, Mar 15, 2016 at 12:04 PM, Albert Vilella <notifications@github.com>
wrote:

--

Fidel Ramirez

[2016-03-15 16:11] avilella opened #319 "plotHeatmap equivalent of this heatmapper command"
Any ideas how to upgrade to 2.2 for this command?

[code]

[2016-03-15 16:40] fidelram commented on #319
Is there anything that does not work for you using that command with
version 2.2 ?

On Tue, Mar 15, 2016 at 5:11 PM, Albert Vilella <notifications@github.com>
wrote:

--

Fidel Ramirez

[2016-03-17 14:28] #318 closed

[2016-03-18 19:32] #319 closed

[2016-03-21 14:31] thomasmanke opened #321 "plotCoverage: error when selecting invalid chromosome names"
Selecting an illegal chromosome name (e.g. "chr19" instead of "19") throws an error.
Probably other tools behave similarly. In this case an empty coverage plot would probably be more meaningful. Or should we aim for replacing 19<->chr19 automatically? The latter would be difficult in general. I have seen maps such as:
chrM <-> MT
21 <-> Y
22 <-> X

[2016-03-21 14:42] dpryan79 commented on #321
Where possible we can add/remove `chr` (chrM <-> MT is always a special case), since we're mostly doing this already. 21 <-> Y should never be expected to work anywhere and should always throw an error.

As a design principal, it is always better to throw an error and abort than to create an empty file or meaningless file.

[2016-03-23 10:48] pkhoueiry opened #324 "bamCoverage: assert(bw is not None) AssertionError"
Dear all,

bamCoverage  (version 2.2.2-11-34e97d3) is throwing an error linked to bedGraphToBigWig conversion.
Here is the command that I am using:
python-2.7 $DEEPTOOLS/bamCoverage --bam bam/sample.1.raw.sorted.bam --binSize 50 --normalizeTo1x 2451960000 --extendReads 300 -o bw/sample1.bw -v -p 30 --outFileFormat bigwig

The file produced is in bedgraph with ".bg" as extension.
(bamCoverage 1.6 w

[2016-03-23 10:56] dpryan79 commented on #324
Out of curiousity, what version of pyBigWig do you have installed (`pip freeze | grep pyBigWig`).

[2016-03-23 11:06] dpryan79 commented on #324
Also, what if you do the following from within python:

    import pyBigWig
    bw = pyBigWig.open("bw/sample1.bw", "w")
    assert(bw is not None)

Does the assertion step throw an error or do you get one beforehand?

[2016-03-23 12:32] pkhoueiry commented on #324
1) pyBigWig version:  1.0.8 (obtained from PKG-INFO file since I do not have pip installed)
2) here is the output obtained regarding your request:

TypeError: function takes exactly 1 argument (2 given)

Seems like the assertion is throwing an error.

[2016-03-23 12:51] dpryan79 commented on #324
Please upgrade pyBigWig to the most 0.2.7 (1.0.8 should have been labeled 0.1.8, that was a mistake on pypi).

[2016-03-23 12:53] dpryan79 commented on #324
BTW, the assertion is causing a problem due to the old version of pyBigWig. The one you're using didn't support writing files, only reading them. This was changed starting with 0.2.0, which is required by deepTools.

[2016-03-23 13:16] pkhoueiry commented on #324
It worked,
Thanks Davon,

[2016-03-23 13:22] dpryan79 commented on #324
Glad that solved it!

[2016-03-23 13:22] #324 closed

[2016-03-29 22:28] MichaelMW opened #326 "Feature request: Plot or profile only using chosen samples and regions from computeMatrix results"
Maybe I missed something here, but is it possible to add a flag to plot only chosen samples and/or regions?
Something like this:
[--regionsToUse REGIONSLABEL [REGIONSLABEL ...]]
[--samplesToUse SAMPLESLABEL [SAMPLESLABEL ...]]
Whereby default is set to use all regions and samples.

It's relatively simple to implement.
But it's very important, as it gives user the freedom to chose which part of the

[2016-03-29 22:51] friedue commented on #326
Hi Michael,
historically, computeMatrix would accept only one sample, so the need to exclude samples never occurred until deepTools2.  deepTools2, on the other hand, has seen a significant increase in parameters and we're rather hesitant to add even more, especially if there's a simple work-around available (in your case, re-running computeMatrix).
For the particular parameter that you are proposi

[2016-03-30 08:50] dpryan79 commented on #326
I agree with @friedue, this is an unusual enough thing that I'd prefer people to just rerun things rather than adding "yet another option". deepTools has too many options as is.

[2016-03-30 08:50] #326 closed

[2016-03-30 13:12] dpryan79 commented on #71
This is now implemented in the `develop` branch, which will become the 2.3 release.

[2016-03-30 13:12] #71 closed

[2016-03-30 13:13] dpryan79 commented on #76
This is now implemented in the `develop` branch, which will become the 2.3 release.

[2016-03-30 13:13] #76 closed

[2016-03-30 13:14] dpryan79 commented on #237
The `twobitreader` module needs a bit of work. I have a fork of it that removes a random `print()` that will break nose testing and confuse users. Aside from that, it generally seems to work.

[2016-03-30 13:14] dpryan79 commented on #321
This is now implemented in the `develop` branch, which will become the 2.3 release.

[2016-03-30 13:14] #321 closed

[2016-03-31 08:06] dpryan79 commented on #237
I have one last PR on the `twobitreader` module, but otherwise that's working in Galaxy and the CLI. The author seems to be quick at accepting PRs, this issue should be closable soon.

[2016-03-31 13:31] dpryan79 commented on #237
I've started converting everything to python3. The biggest stumbling block at the moment is that any test that compares a text file whose header contains a python `dict()` (e.g., computeMatrix) will typically fail due to python3 having randomly ordered dictionaries.

[2016-04-01 12:31] dpryan79 commented on #237
This is essentially working now. The only thing failing are some of the image comparisons under python3 (these differ between OSX and Linux).

[2016-04-01 13:19] dpryan79 commented on #237
Shrug, sorting out the image comparison thing in python3 will be a large time sink. I'm just disabling testing of that component there, since the failing tests appear to produce identical images and the diffs mostly look like reordered lines or differences in floating point precision (e.g., an extra digit at the end of a coordinate).

Consequently, everything is passing. I'll keep this open, thoug

[2016-04-01 13:54] dpryan79 commented on #278
A bit of an update on this. The `develop` branch now supports GTF and BED12 files and can store and compute metrics over the exons (concatenated into a transcript). The output of computeMatrix will have the exon bounds in it, if one uses the `--metagene` option. The score and anything > column 6 are currently not stored either in memory or in the file and doing so would largely just waste space/me

[2016-04-01 14:10] fidelram commented on #237
Did you tried: http://matplotlib.org/devel/testing.html

I tried to use it some months ago but failed because the required libraries were not in the matplotlib distribution.

[2016-04-01 14:11] dpryan79 commented on #237
I played with that a bit and it requires completely restructuring where everything is. That's not worth the effort.

[2016-04-01 14:24] steffenheyne commented on #278
With score you mean the average over all bins (for all tracks) in the matrix? Filled in as column 5?

This feature was once there and it was kind of nice for me for further filtering etc, but probably mostly useful in the single bigwig case. But on the other hand one column of values shouldn't take too much more memory...

[2016-04-03 13:42] dpryan79 commented on #278
The score as in whatever was originally in column 5. I'll play around on monday with adding the score in as well. Aside from that, I had a couple minutes today and implemented the rest of this. It's now merged into the `develop` branch. Once I have the score from the original files stored and output as well I'll close this.

[2016-04-04 11:57] dpryan79 opened #328 "Per-sample numeric summary output from plotFingerprint"
There's been some internal requests for a single metric attached to each sample from `plotFingerprint`. This could then be used in a more automated manner to flag samples by quality. The current contenders for a metric are: AUC, X-intersect, and elbow point (likely the point with the maximum second derivative).

I'll make a branch with that can output each of those and have them tested on known go

[2016-04-04 12:05] dpryan79 opened #329 "plotEnrichment or a similar tool"
It's been internally requested that we have a tool that can produce things like (A) FRiP scores or (B) histograms of reads per feature type (exons, UTR, etc.). Such a tool might be called `plotEnrichment`. The output would be something like an image and an optional table of values. The input would be a BED or GTF file. One difficulty is that `deeptoolsintervals` is currently only storing a single

[2016-04-04 12:42] dpryan79 commented on #278
Now the score is stored and output as well.

[2016-04-04 12:42] #278 closed

[2016-04-04 13:48] friedue commented on #328
but bad H3K4me3 samples look very similar to good H3K27me3 samples...how will you take that into account?

[2016-04-04 13:50] dpryan79 commented on #328
At some point the user would need to have an understanding of what he/she is doing. The idea is to give groups like DEEP a convenient way of screening samples.

[2016-04-04 13:59] friedue commented on #328
so rather than a binary flag, this tool should generate a score and based on previous screenings/public data, one could come up with ranges that are expected for good samples of narrow and broad marks and visually show where the new samples fall.
this sounds like an additional tool, though, e.g. "compareFingerprints"

[2016-04-04 14:00] friedue commented on #328
sounds like a neat Bachelor thesis project :)

[2016-04-04 14:02] fidelram commented on #328
Having a number to summarize the results is the first step to allow comparisons which could be done later.

[2016-04-04 14:05] friedue commented on #328
so what exactly do you mean with X intersect?

[2016-04-04 14:08] asrichter commented on #328
Intersection of curve with x axis, i.e. fraction of genome not covered by reads.

________________________________
Von: Friederike Dündar <notifications@github.com>
Gesendet: Montag, 4. April 2016 16:05
An: fidelram/deepTools
Betreff: Re: [fidelram/deepTools] Per-sample numeric summary output from plotFingerprint (#328)

so what exactly do you mean with X intersect?

-
You are receiving this becau

[2016-04-04 14:10] dpryan79 commented on #328
I suspect that the x intersect will end up being some small value > 0, but we'll try >0 first :)

[2016-04-04 14:10] friedue commented on #328
the point where the curve stops intersecting the x used as a measure for the sequencing depth?

[2016-04-04 14:13] dpryan79 commented on #328
It's a measure both for the sufficiency of the sequencing depth but also how good/sharp the peaks will be. It's the fraction of the genome lacking signal, which even for sharp peaks is normally relatively low. I suspect that this or something like it can always get output, since it might always be useful (the perpetual, "How much more should we have sequenced?", question).

[2016-04-04 14:13] asrichter commented on #328
@friedue: yes

@dpryan79: can also be a larger value if you have perfect enrichment or low sequencing depth

[2016-04-04 14:27] friedue commented on #328
In any case, the last point of x axis intersect will likely also influence the AUC, for example.

Actually, Andreas has a an excellent point: in a perfect ChIP sample, there shouldn't be any background, hence, the portion of the genome covered should be rather small...the question "how many more reads??" is particularly difficult to answer for ChIP-seq

[2016-04-05 07:15] dpryan79 commented on #328
I'm not so sure that a perfect ChIP has ever been performed.

Anyway, feel free to play around with the "feature/implement328" branch. It adds a `--outQualityMetrics` option to `plotFingerprint`. The columns are: sample label, AUC, X intersect, and elbow point.

As an aside, I played around with using the maximum of the second derivative as the elbow. That ends up picking up what I suspect are reg

[2016-04-05 13:44] friedue commented on #328
I'm pretty sure that a perfect ChIP has never been performed, but if you want to use a score as a quality measure for ChIP, one should be aware of the ambiguous nature of the fingerprints.
What do you use for the elbow point now?

[2016-04-05 19:59] dpryan79 commented on #328
The furthest point from the diagonal.

[2016-04-06 05:36] amitgsir opened #332 "deeptools correctGCBias process sleeping??"
Hi,

I am using deeptools for the GBcorrection of my genomic BAM files.

However, sometimes, computeGCBias or correctGCBias just hands, and it is not using any real CPU on top command in linux.

E.g. I used max/2 cpu (default option for processor) and my other process are using just 12core on my 48core server.

In this case, correctGCBias is using just around 4-6 core, and each core is also using

[2016-04-06 05:39] amitgsir commented on #332
I am using deeptools 1.5.11 version

[2016-04-06 07:34] fidelram opened #333 "computeMatrix mean, min, max, etc are NaN if any of the bigwig values is nan"
When computing the average over a bin, compute matrix becomes NaN if any of the values is a NaN.

This can be solved by setting --missingDataAsZero; however for some cases this is not desirable and instead NaNs should be simply ignored. For damID data and ChIP-chip data that only probe a fraction of the genome, most of the scores are NaN but is not wise to turn them into zeros for averaging.

A tr

[2016-04-06 07:37] fidelram commented on #333
Actually, I just noticed that this is the way is implemented already in the code. I am checking now if it is working properly because I am getting a lot of bins with NaNs

[2016-04-06 09:44] #333 closed

[2016-04-06 14:23] vivekbhr commented on #332
@amitgsir could you try using the newer release (2.2.2) and check if the problem persists?

[2016-04-06 14:34] dpryan79 commented on #329
There's now a `feature/plotEnrichment` branch where this is largely implemented (though it's a definite work in progress). The image output is as below:

![enrichment example](https://cloud.githubusercontent.com/assets/6399000/14320391/294aace6-fc15-11e5-9198-1100db928a29.png)

`peaks` are any regions in a BED file, whereas for GTF files the feature column is used. I would suggest that if people w

[2016-04-06 14:34] dpryan79 commented on #329
@thomasmanke, since you were asking about this.

[2016-04-06 18:46] kashyapchhatbar opened #334 "computeGCBias.py can't handle --blackListFileName"
The rest of the tools are fine with it, however `computeGCBias` is not considering `--blackListFileName` properly

Here's the error

[code]

It's showing the error [here](https://github.com/fidelram/deepTools/blob/master/deeptools/computeGCBias.py#L623-624). I think it's a typo for `blackListFileName` argument and also since the new implementation of blacklist file, `filterOut` argument is not req

[2016-04-07 00:59] amitgsir commented on #332
Hi @vivekbhr,

I will check the new version.
Just curious if you have encountered the similar issue.

[2016-04-07 07:25] dpryan79 commented on #332
We've not run into this internally, though we use `correctGCBias` rarely enough that it's certainly possible that we've missed a bug.

[2016-04-07 14:02] dpryan79 commented on #329
As requested, BED files now get individual labels (either the file name or whatever you specify with `--regionLabels`). GTF files will always use the feature column and ignore `--regionLabels`. Here are two bed files (genes19.bed and genesX.bed) with new labels:

![enrichment example](https://cloud.githubusercontent.com/assets/6399000/14353601/06fa70c0-fcda-11e5-8560-2e45f2de9e44.png)

[2016-04-08 08:51] amitgsir commented on #332
Okay~~I will check the new build and will notify if encounter the similar issue.

[2016-04-08 09:50] #233 closed

[2016-04-08 10:28] #334 closed

[2016-04-08 10:29] dpryan79 commented on #334
I've merged the fix for this. I'll try to coordinate getting version 2.2.3 on pypi/bioconda/Galaxy today.

[2016-04-08 10:29] dpryan79 commented on #334
Ping @bgruening @fidelram

[2016-04-09 00:41] bgruening commented on #334
Okidoki!

[2016-04-09 19:14] dpryan79 commented on #332
Go ahead and either open a new issue or reopen this one if this continues to happen in the updated release.

[2016-04-09 19:14] #332 closed

[2016-04-11 09:02] kashyapchhatbar commented on #334
Confirming that the fix is working! Thanks :)

[2016-04-11 09:11] dpryan79 commented on #334
Great, thanks for letting us know!

[2016-04-14 12:11] dpryan79 commented on #326
@MichaelMW  I decided to put together a little script that can be used to subset the output of computeMatrix by sample/region. That'll create a new file, but is easier to support in general than "yet another deepTools option". You can download the script [here](https://github.com/fidelram/deepTools/blob/feature/subsetMatrix/scripts/subsetMatrix). I've not done much in the way of testing, but it's

[2016-04-15 07:22] fidelram opened #335 "galaxy filters gene names"
The following error occurs in galaxy when trying to filter the chromosome name from  E. coli strain UTI89: 'gi|91209055|ref|NC_007946.1'

NameError: Unknown chromosome: chrgiX91209055XrefXNC_007946.1X
Known chromosomes are: ['gi|91209055|ref|NC_007946.1|']

The chr is added by the code in an attempt to find a matching chromosome. But the pipes are replaced by 'X'.

[2016-04-15 07:25] bgruening commented on #335
This is because we sanitize text inputs by default. I guess it is save to disable it, or explicitly allow pipes as input ...

[2016-04-15 08:13] fidelram commented on #335
As long as the text is put into quotes and quotes are escaped it should be fine.

[2016-04-15 08:14] dpryan79 commented on #335
On the plus side, NCBI is apparently phasing out putting pipes in names like this :)

[2016-04-15 08:15] bgruening commented on #335
@fidelram it's not that easy. A text input can also be `"; rm -rf; echo "` or something like that.

[2016-04-15 08:17] dpryan79 commented on #335
Pacifying user input is the single most annoying thing about webapp development :(

[2016-04-15 08:34] fidelram commented on #335
Other option is to turn pipes into something else than 'X' that can be transformed back into a pipe in the python code. Something that normally does not appear on a gene name.

But going back to your example: If a user adds something like `"; rm -rf; echo "` this should be sanitized as `'\"; rm -rf; echo \"'` which should be innocuous.

[2016-04-15 08:37] bgruening commented on #335
@fidelram not if you turn off the sanitizer :).
But I can explicitly allow the pipe to not be sanitized, if not we can use you approach and deal with this on the python side. I think it is actually replaced by `__X__` isn't it?

[2016-04-15 08:40] dpryan79 commented on #335
According to the mailing list, it was just `X`. `__X__` would be MUCH easier to deal with.

[2016-04-15 08:55] bgruening commented on #335
Mh, ok I'm was thinking it is using this here: https://github.com/galaxyproject/galaxy/blob/dev/lib/galaxy/util/__init__.py#L416

I will work on this today, and will explicitly allow pipes.

[2016-04-15 09:12] bgruening commented on #335
No test yet. I need to think about this.
Hopefully this will work: https://github.com/fidelram/deepTools/compare/pipes?expand=1

[2016-04-15 11:35] samuelCollombet opened #336 "filter reads based on template size"
It would be very nice to have an option do filter (paired-end) reads depending on their template/fragment size. specially for the program bamCoverage / bamCompare.

[2016-04-15 11:36] dpryan79 commented on #336
Normally this would be determined by the aligner marking things as properly paired or not, no?

[2016-04-15 11:39] samuelCollombet commented on #336
dpryan79 not sure what you mean? indeed this make only sense for properly paired reads (otherwise the template length in the bam file ill be 0 I guess).
I would liek to be able to selected only fragments (ie both paired reads) if the framgnet size that more than x and less than y bp.

[2016-04-15 11:44] dpryan79 commented on #336
Normally one gives the aligner information about the proper fragment size distributions and the properly paired bit in the flag is then set accordingly. That would then be what's used for filtering.  I'm not sure of any normal use case for needing to filter by fragment size otherwise.

[2016-04-15 11:48] dpryan79 commented on #336
Ah, we were just talking about this and thought about ATACseq. It makes sense, so we can add this.

[2016-04-15 11:48] dpryan79 commented on #336
This is a very easy thing to implement, we can include it in the 2.3 release.

[2016-04-15 11:49] samuelCollombet commented on #336
Exactly! (could have mentioned ATACseq from the begining :D ). Thanks!

[2016-04-15 12:04] samuelCollombet opened #337 "bamPEFragmentSize max fragment size shown on plot"
Would be nice to have the option to change the max value on the x axis.
I am using it to visualized the fragment distribution of ATACseq data, and 2 x mean of fragment size is not enough. I personally change the parameter in the .py file ([mean] x 2 changed for [max]), but it would be ncie to be able to change the parameter on the fly.

[2016-04-15 12:15] dpryan79 commented on #337
Indeed, this probably works poorly for ATACseq. Should be an easy enough change. Were you thinking of having some sort of `max length` parameter or instead one to just change the `2` to some user-specified value? Either would be possible and we can do whichever is preferred.

[2016-04-15 12:21] samuelCollombet commented on #337
In my case I prefer to use the max, so I know what value it is, but it might depends on the user preference.
Also Just realized, havign the possibiltiy ot have the frequency in log scale would be nice :)

[2016-04-15 12:30] dpryan79 commented on #337
OK, user-specified max value and a log scale option. Those are quick and easy.

[2016-04-15 12:30] samuelCollombet commented on #337
Cool! Thanks a lot!

[2016-04-15 15:00] vivekbhr opened #341 "bamPEFragsize for multiple bam-files"
I wanted to implement this at some point but couldn't follow up on that. bamPEFragsize can take only one bam-file at this moment but it will be good if it can take multiple, and make an overlapping histogram (with some transparency) with one color per sample.. Typically we have 6 samples for RNA-Seq (3 cont, 3 test) so it will be good to check the distribution of all of them in one plot (so max 6-

[2016-04-15 17:43] dpryan79 commented on #341
I would suggest that instead of using transparency to plot multiple samples on the same plot, that instead subplots be used (e.g., with plotProfile or plotEnrichment).

[2016-04-16 07:12] vivekbhr commented on #341
Yah I think that would also be fine :+1: .. I thought overlaying will help to quickly compare samples, but with >8 samples it will get complicated due to multiple color contrasts..

[2016-04-17 19:03] dpryan79 commented on #329
I've merged the branch containing this into `develop`. I'll add the Galaxy wrapper on Monday.

[2016-04-19 07:55] dpryan79 opened #342 "Blacklist missing from Galaxy wrappers"
Apparently we never added the blacklist regions to the Galaxy wrappers. I happened to be adding that to the new plotEnrichment wrapper anyway, so presumably the macros can get reused everywhere.

[2016-04-19 08:11] dpryan79 commented on #329
The wrapper is now included (and being tested by planemo).

[2016-04-19 08:11] #329 closed

[2016-04-19 10:18] #342 closed

[2016-04-19 11:25] fidelram commented on #109
PR #338 addresses the issue. For examples see: http://deeptools.readthedocs.org/en/develop/content/tools/plotHeatmap.html

[2016-04-19 11:25] #109 closed

[2016-04-19 11:26] dpryan79 commented on #109
Did you update the Galaxy wrapper?

[2016-04-19 12:43] dpryan79 commented on #336
This is now included in the `develop` branch, so it'll be present in the 2.3 release. The options are called `--minFragmentLength` and `--maxFragmentLength`.